@using EP_Quest.Models
@using Microsoft.EntityFrameworkCore
@inject IQuestRepository Repository

<div class="cards">
    @foreach (var step in _steps)
    {
        <div class="card @step.LockIdentifier @step.Selection"
             @onmouseover="() => HoverCard(true, step)"
             @onmouseout="() => HoverCard(false)"
             @onclick="() => SelectCard(step.GetNumber())">
            @step.GetName()
        </div>
    }
</div>
<div class="description-section">
    <span class="description-text">
        @_stepDescription
    </span>
    <div class="buttons-container">
        <div class="nav-button" @onclick="ToInstructions">Instructions</div>
        <div class="nav-button" style="visibility: @_playButtonVisibility" @onclick="ToSelectedStep">Play</div>
    </div>
</div>

@code {
    struct Step
    {
        public string LockIdentifier;
        public string Selection = string.Empty;

        private Models.Step _step;


        public Step(Models.Step step)
        {
            _step = step;
            LockIdentifier = _step.IsLocked ? "lock" : "unlock";
        }
        public Step(Models.Step step, string selection)
        {
            _step = step;
            LockIdentifier = _step.IsLocked ? "lock" : "unlock";
            Selection = selection;
        }
        public bool IsLocked() => _step.IsLocked;
        public Models.Step Get() => _step;
        public string GetName() => _step.Name;
        public int GetNumber() => _step.Number;
        public string GetDescription() => _step.Description;
    }

    [Parameter]
    public EventCallback ToInstructions { get; set; }
    [Parameter]
    public EventCallback ToSelectedStep { get; set; }

    private List<Step> _steps;
    private string _stepDescription = string.Empty;
    private Step _selectedStep = default;
    private string _playButtonVisibility = "hidden";


    protected override void OnInitialized()
    {
        Init();
    }
    public void Init()
    {
        _stepDescription = string.Empty;
        _selectedStep = default;
        _playButtonVisibility = "hidden";
        _steps = Repository.Steps.Select(x => new Step(x)).ToList();
    }
    private void HoverCard(bool isOver, Step step = default)
    {
        if (isOver)
        {
            _stepDescription = step.IsLocked() ? "***" : step.GetDescription();
            return;
        }

        _stepDescription = string.Empty;

        for (var i = 0; i < _steps.Count; i++)
            if (_steps[i].Selection != string.Empty)
                _stepDescription = _steps[i].IsLocked() ? string.Empty : _steps[i].GetDescription();
    }
    private void SelectCard(int stepNumber)
    {
        var mask = 1;

        for (int i = 0; i < _steps.Count; i++)
        {
            if (_steps[i].Selection != string.Empty)
            {
                _steps[i] = new Step(_steps[i].Get(), string.Empty);
                _selectedStep = default;
                mask <<= 2;
                continue;
            }

            if (_steps[i].GetNumber() == stepNumber)
            {

                _steps[i] = new Step(_steps[i].Get(), "selected-step");
                _selectedStep = _steps[i];
                _playButtonVisibility = _selectedStep.IsLocked() ? "hidden" : "visible";
                mask <<= 3;
            }
        }

        if (mask == 4)
        {
            _playButtonVisibility = "hidden";
            _selectedStep = default;
        }
    }
}
