.instruction-side,
.dashboard-side,
.quest-side {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .8s linear;
}

.main-side {
    .instruction-side {
        transform: perspective(1800px) rotateY(0);
    }

    .dashboard-side {
        transform: perspective(1800px) rotateY(180deg);
    }

    .quest-side {
        transform: perspective(1800px) rotateY(0);
    }
}

.back-side {
    .instruction-side {
        transform: perspective(1800px) rotateY(-180deg);
    }

    .dashboard-side {
        transform: perspective(1800px) rotateY(0);
    }

    .quest-side {
        transform: perspective(1800px) rotateY(-180deg);
    }
}
