.progress-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progress-container .info-container {
  padding: 1rem;
}
.progress-container .info-container .progress-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.progress-container .info-container .progress-section .battery {
  height: 2rem;
  padding: 0.25rem;
  border: white 2px solid;
  border-radius: 5px;
  display: flex;
  gap: 0.25rem;
  position: relative;
}
.progress-container .info-container .progress-section .battery .divider {
  width: 1rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.progress-container .info-container .progress-section .battery .active-divider {
  background-color: white;
}
.progress-container .info-container .progress-section .battery:before {
  content: "";
  width: 8px;
  height: 16px;
  background-color: white;
  position: absolute;
  right: -8px;
  top: calc(50% - 8px);
}
.progress-container .info-container .time-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.progress-container .help-section {
  width: auto;
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem;
}
.progress-container .help-section .clock {
  position: relative;
  width: 120px;
  height: 120px;
  filter: brightness(0) saturate(100%) invert(54%) sepia(16%) saturate(4%) hue-rotate(349deg) brightness(92%) contrast(88%);
}
.progress-container .help-section .clock.active {
  filter: brightness(0) saturate(100%) invert(99%) sepia(27%) saturate(442%) hue-rotate(286deg) brightness(119%) contrast(100%);
}
.progress-container .help-section .clock.active:hover {
  box-sizing: border-box;
  filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(329%) hue-rotate(145deg) brightness(83%) contrast(92%);
  cursor: pointer;
}
.progress-container .help-section .clock:before {
  z-index: 8;
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  background-image: url("images/clock.svg");
  background-size: 120px 120px;
}
.progress-container .help-section .phone {
  position: relative;
  width: 108px;
  height: 108px;
}
.progress-container .help-section .phone:hover {
  box-sizing: border-box;
  filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(329%) hue-rotate(145deg) brightness(83%) contrast(92%);
  cursor: pointer;
}
.progress-container .help-section .phone:before {
  z-index: 8;
  content: "";
  position: absolute;
  width: 108px;
  height: 108px;
  top: 5px;
  left: 0;
  background-image: url("images/phone.svg");
  background-size: 108px 108px;
}
