.progress-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.progress-container .progress-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.progress-container .progress-section .battery {
  height: 2rem;
  padding: 0.25rem;
  border: white 2px solid;
  border-radius: 5px;
  display: flex;
  gap: 0.25rem;
  position: relative;
}
.progress-container .progress-section .battery .divider {
  width: 1rem;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}
.progress-container .progress-section .battery .active-divider {
  background-color: white;
}
.progress-container .progress-section .battery:before {
  content: "";
  width: 8px;
  height: 16px;
  background-color: white;
  position: absolute;
  right: -8px;
  top: calc(50% - 8px);
}
.progress-container .time-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.help-section {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.help-section .clock {
  position: relative;
  width: 120px;
  height: 120px;
}
.help-section .clock:before {
  z-index: 8;
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  background-image: url("images/clock.svg");
  background-size: 120px 120px;
}
.help-section .phone {
  position: relative;
  width: 120px;
  height: 120px;
}
.help-section .phone:before {
  z-index: 8;
  content: "";
  position: absolute;
  width: 108px;
  height: 108px;
  top: 5px;
  left: 0;
  background-image: url("images/phone.svg");
  background-size: 108px 108px;
}
