<div class="@_side">
    <div class="instruction-side" style="visibility: @_instructionsVisibility">
        <Instruction ToDashboard="FromInstructionsToDashboard"></Instruction>
    </div>
    <div class="dashboard-side" style="visibility: @_dashboardVisibility">
        <Dashboard ToInstructions="ToInstructions" ToSelectedStep="ToSelectedStep"></Dashboard>
    </div>
    <div class="quest-side" style="visibility: @_questVisibility">
        <div style="padding: 2rem; display: flex; flex-direction: column; height: 100%; justify-content: space-between;">
            <span>Quest side</span>
            <div class="buttons-container">
                <button class="nav-button" @onclick="FromQuestToDashboard">To dashboard</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string _side = "main-side";
    private string _instructionsVisibility = "visible";
    private string _dashboardVisibility = "visible";
    private string _questVisibility = "hidden";

    protected override async Task OnInitializedAsync()
    {
    }
    private void ToInstructions()
    {
        _instructionsVisibility = "visible";
        _dashboardVisibility = "visible";
        _questVisibility = "hidden";
        _side = "main-side";
    }
    private void FromInstructionsToDashboard()
    {
        _instructionsVisibility = "visible";
        _dashboardVisibility = "visible";
        _questVisibility = "hidden";
        _side = "back-side";
    }
    private void FromQuestToDashboard()
    {
        _instructionsVisibility = "hidden";
        _dashboardVisibility = "visible";
        _questVisibility = "visible";
        _side = "back-side";
    }
    private void ToSelectedStep()
    {
        _instructionsVisibility = "hidden";
        _dashboardVisibility = "visible";
        _questVisibility = "visible";
        _side = "main-side";
    }
}
