<div class="front-side">
    <span>
        "Гей, хлопці, не вспію — на ґанку ваша файна їжа знищується бурундучком"
    </span>
    <div class="buttons">
        <button id="back-button">Back</button>
        <button id="next-button">Next</button>
    </div>
</div>

@code {

}
