<div class="quest-container">
    <div class="character-container">
        @(await Html.RenderComponentAsync<Character>(RenderMode.ServerPrerendered))
    </div>
    <div class="note-container">
        @(await Html.RenderComponentAsync<Information>(RenderMode.ServerPrerendered))
    </div>
</div>
