@using EP_Quest.Components.Shared

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@((string)ViewBag.Title)</title>
    <link rel="icon" type="image/png" href="~/favicon.png">
    <base href="~/" />
    <link href="styles/reset.min.css" rel="stylesheet">
    <link href="styles/main.min.css" rel="stylesheet">
    <link href="EP_Quest.styles.css" rel="stylesheet" />
</head>
<body>
    <main>
        <div class="particles">
            @for (var i = 0; i < 16; i++)
            {
                <span class="circle"></span>
            }
        </div>
        @RenderBody()
    </main>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>