@using EP_Quest.Components.Shared

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@((string)ViewBag.Title)</title>
    <base href="~/"/>
    <link href="css/main.css" rel="stylesheet">
    <link href="EP_Quest.styles.css" rel="stylesheet"/>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://cdn.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
    <script src="js/Render.js"></script>
</head>
<body>
    <main>
        <div class="particles">
            @for (var i = 0; i < 16; i++)
            {
                <span class="circle"></span>
            }
        </div>
        @RenderBody()
    </main>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>