@using Microsoft.AspNetCore.Http;
@using EP_Quest.Components.Shared
@using EP_Quest.Models
@using Microsoft.EntityFrameworkCore
@inject LinkGenerator LGenerator
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration;
@inject IQuestRepository Repository

<Preloader IsLoading="IsLoading"></Preloader>

<div class="book-container">
    @if (_isInitialized)
    {
        <div id="flipbook">
            <div class="hard">
                <div class="title-container">
                    <h2 class="home-title">Journey of</h2>
                    @if (_nameTitleVisibility != "transparent")
                    {
                        <h2 class="@_nameTitleVisibility name-title">Beautiful Demon</h2>
                    }
                </div>
                @if (_isInputVisible)
                {
                    <input placeholder="Enter key" class="key-input" type="text" @oninput="InputHandle" />
                }
            </div>
            <div class="hard">
                <h3 class="inner-congratulation">Be like a Rose</h3>
            </div>

            @foreach (var step in Steps)
            {
                var imageId = "image-" + step.Number;
                var imagePath = "images/pages/page1/" + step.Number + ".png";

                <div class="page">
                    @if (!step.IsLocked)
                    {
                        <div class="image-container">
                            <img id=@imageId src=@imagePath />
                        </div>
                        <div class="text-container">
                            @step.Content
                        </div>
                    }
                    else
                    {
                        <div class="lock"></div>
                    }
                    <div class="page-number">
                        @{
                            var pageNumber = step.Number.ToString();
                        }
                        @pageNumber
                    </div>
                </div>
            }
            <div class="hard"></div>
            <div class="hard"></div>
        </div>
    }
</div>

@code {
    private bool _isInitialized = false;
    [Inject]
    IJSRuntime jsRuntime { get; set; }
    private List<Step> Steps { get; set; }
    private bool IsLoading { get; set; } = true;
    private string _nameTitleVisibility = "transparent";
    private bool _isInputVisible = true;
    private string? _currentInputKeyValue = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Init();
        jsRuntime.InvokeVoidAsync("bookInit");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(1000);
            IsLoading = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task Init()
    {
        Steps = await Repository.Steps.OrderBy(x => x.Number).ToListAsync();
        _isInitialized = true;
        await InvokeAsync(StateHasChanged);
    }

    private async Task InputHandle(ChangeEventArgs ev)
    {
        _currentInputKeyValue = ev.Value?.ToString();

        if (_currentInputKeyValue?.ToLower() == Configuration["Phrases:Key phrase"])
        {
            _isInputVisible = false;
            _nameTitleVisibility = "fade-in";
            await Task.Delay(1200);
            _nameTitleVisibility = "";

            await jsRuntime.InvokeVoidAsync("enableTurn");
            await jsRuntime.InvokeVoidAsync("nextPage");
            
        }

        // if (_currentInputKeyValue == Configuration["Phrases:Key phrase"])
        // {
        //     HttpContextAccessor?.HttpContext?.Response.Cookies.Append("KeyPhrase", "phrase");
        // }
    }
}