.home-title {
  margin-top: 6rem;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 767px) {
  .home-title {
    font-size: 2.5rem;
  }
}

.key-input {
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
}

.page {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page .image-container {
  border: 2px solid #000000;
  margin: 1rem;
}
.page .text-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  height: auto;
}

#image-2 {
  width: 100%;
  display: block;
}

#image-3 {
  aspect-ratio: 1.28;
  width: 100%;
  /*width: 1920px;
  height: 1500px;*/
  box-sizing: border-box;
  display: block;
}

.book-container {
  position: relative;
  width: 86%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#flipbook {
  width: 100%;
  height: 100%;
}

#flipbook .page {
  background-color: white;
}

#flipbook .page-wrapper {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}

#flipbook .hard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  background: #ccc !important;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
  font-weight: bold;
}

#flipbook .odd {
  background: -webkit-gradient(linear, right top, left top, color-stop(0.97, #FFF), color-stop(1, #DADADA));
  background-image: -webkit-linear-gradient(right, #FFF 97%, #C4C4C4 100%);
  background-image: -moz-linear-gradient(right, #FFF 97%, #C4C4C4 100%);
  background-image: -ms-linear-gradient(right, #FFF 97%, #C4C4C4 100%);
  background-image: -o-linear-gradient(right, #FFF 97%, #C4C4C4 100%);
  background-image: linear-gradient(right, #FFF 97%, #C4C4C4 100%);
  -webkit-box-shadow: inset 0 0 8px #666;
  -moz-box-shadow: inset 0 0 8px #666;
  -o-box-shadow: inset 0 0 8px #666;
  -ms-box-shadow: inset 0 0 8px #666;
  box-shadow: inset 0 0 8px #666;
}

#flipbook .even {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
  background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image: linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow: inset 0 0 5px #666;
  -moz-box-shadow: inset 0 0 5px #666;
  -o-box-shadow: inset 0 0 5px #666;
  -ms-box-shadow: inset 0 0 5px #666;
  box-shadow: inset 0 0 5px #666;
}
