html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

main {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Anime Ace v3";
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(#1d709c, #000b39);
}

a {
  width: 12rem;
  height: 3rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: #00add4;
  border: 2px solid #00add4;
  border-radius: 5px;
  position: relative;
  transition: all 0.35s;
}
a span {
  position: relative;
  z-index: 2;
}
a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00add4;
  transition: all 0.35s;
}
a:hover {
  color: white;
  cursor: pointer;
}
a:hover:after {
  width: 100%;
}
@media (max-width: 767px) {
  a {
    font-size: 28px;
    height: 4rem;
  }
}

.transparent {
  opacity: 0;
}

.fade-in {
  animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00add4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00add4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0096B8;
}

.particle-container {
  background-color: #f9ecd0;
  position: relative;
  height: 100vh;
}

.circle {
  border-radius: 50%;
  position: absolute;
  z-index: 64;
}

@-webkit-keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(80vw, 53vh, 391px) rotate(8deg);
    transform: translate3d(24vw, 53vh, 41px) rotate(68deg);
  }
  100% {
    -webkit-transform: translate3d(3vw, 59vh, 91px) rotate(129deg);
    transform: translate3d(21vw, 92vh, 389px) rotate(158deg);
  }
}
@keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(38vw, 38vh, 45px) rotate(5deg);
    transform: translate3d(61vw, 18vh, 91px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate3d(85vw, 51vh, 116px) rotate(7deg);
    transform: translate3d(62vw, 36vh, 181px) rotate(109deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(1) {
  -webkit-animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(245, 245, 245);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(71vw, 22vh, 9px);
  transform: translate3d(59vw, 86vh, 81px);
}

@-webkit-keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(97vw, 52vh, 386px) rotate(46deg);
    transform: translate3d(40vw, 44vh, 157px) rotate(6deg);
  }
  100% {
    -webkit-transform: translate3d(11vw, 17vh, 134px) rotate(79deg);
    transform: translate3d(48vw, 65vh, 249px) rotate(167deg);
  }
}
@keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(82vw, 79vh, 76px) rotate(27deg);
    transform: translate3d(2vw, 91vh, 360px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(41vw, 86vh, 353px) rotate(160deg);
    transform: translate3d(72vw, 4vh, 392px) rotate(86deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(2) {
  -webkit-animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(128, 128, 128);
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(61vw, 89vh, 29px);
  transform: translate3d(77vw, 25vh, 33px);
}

@-webkit-keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(62vw, 81vh, 144px) rotate(60deg);
    transform: translate3d(20vw, 12vh, 98px) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 11vh, 157px) rotate(90deg);
    transform: translate3d(57vw, 51vh, 236px) rotate(33deg);
  }
}
@keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(48vw, 46vh, 46px) rotate(60deg);
    transform: translate3d(76vw, 73vh, 391px) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(89vw, 82vh, 1px) rotate(42deg);
    transform: translate3d(90vw, 25vh, 110px) rotate(85deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(3) {
  -webkit-animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(2, 2, 2);
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(65vw, 80vh, 98px);
  transform: translate3d(60vw, 25vh, 11px);
}

@-webkit-keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(30vw, 31vh, 354px) rotate(44deg);
    transform: translate3d(50vw, 34vh, 331px) rotate(73deg);
  }
  100% {
    -webkit-transform: translate3d(65vw, 63vh, 331px) rotate(141deg);
    transform: translate3d(100vw, 54vh, 319px) rotate(35deg);
  }
}
@keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(4vw, 59vh, 1px) rotate(44deg);
    transform: translate3d(25vw, 30vh, 111px) rotate(24deg);
  }
  100% {
    -webkit-transform: translate3d(32vw, 50vh, 143px) rotate(15deg);
    transform: translate3d(14vw, 97vh, 276px) rotate(112deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(4) {
  -webkit-animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(3, 3, 3);
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(70vw, 17vh, 35px);
  transform: translate3d(85vw, 48vh, 23px);
}

@-webkit-keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(17vw, 96vh, 147px) rotate(11deg);
    transform: translate3d(98vw, 58vh, 79px) rotate(43deg);
  }
  100% {
    -webkit-transform: translate3d(7vw, 39vh, 9px) rotate(7deg);
    transform: translate3d(3vw, 36vh, 102px) rotate(93deg);
  }
}
@keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(69vw, 94vh, 59px) rotate(14deg);
    transform: translate3d(68vw, 2vh, 326px) rotate(32deg);
  }
  100% {
    -webkit-transform: translate3d(5vw, 59vh, 169px) rotate(158deg);
    transform: translate3d(36vw, 93vh, 346px) rotate(77deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(5) {
  -webkit-animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(88, 88, 88);
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(25vw, 80vh, 48px);
  transform: translate3d(44vw, 17vh, 35px);
}

@-webkit-keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(37vw, 73vh, 278px) rotate(13deg);
    transform: translate3d(25vw, 64vh, 378px) rotate(31deg);
  }
  100% {
    -webkit-transform: translate3d(41vw, 24vh, 77px) rotate(46deg);
    transform: translate3d(61vw, 84vh, 290px) rotate(145deg);
  }
}
@keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(38vw, 13vh, 48px) rotate(7deg);
    transform: translate3d(57vw, 18vh, 23px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 19vh, 258px) rotate(152deg);
    transform: translate3d(70vw, 43vh, 156px) rotate(158deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(6) {
  -webkit-animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(160, 160, 160);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-transform: translate3d(56vw, 2vh, 73px);
  transform: translate3d(41vw, 35vh, 42px);
}

@-webkit-keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(94vw, 52vh, 32px) rotate(56deg);
    transform: translate3d(34vw, 62vh, 33px) rotate(67deg);
  }
  100% {
    -webkit-transform: translate3d(46vw, 22vh, 178px) rotate(180deg);
    transform: translate3d(45vw, 23vh, 342px) rotate(52deg);
  }
}
@keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(15vw, 91vh, 6px) rotate(63deg);
    transform: translate3d(100vw, 96vh, 140px) rotate(17deg);
  }
  100% {
    -webkit-transform: translate3d(72vw, 27vh, 22px) rotate(19deg);
    transform: translate3d(73vw, 2vh, 373px) rotate(37deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(7) {
  -webkit-animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(75, 75, 75);
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform: translate3d(51vw, 35vh, 86px);
  transform: translate3d(87vw, 70vh, 97px);
}

@-webkit-keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(57vw, 50vh, 153px) rotate(69deg);
    transform: translate3d(53vw, 100vh, 91px) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(97vw, 28vh, 165px) rotate(50deg);
    transform: translate3d(50vw, 29vh, 396px) rotate(47deg);
  }
}
@keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(73vw, 81vh, 47px) rotate(23deg);
    transform: translate3d(59vw, 8vh, 251px) rotate(56deg);
  }
  100% {
    -webkit-transform: translate3d(84vw, 19vh, 144px) rotate(45deg);
    transform: translate3d(70vw, 78vh, 302px) rotate(34deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(8) {
  -webkit-animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(207, 207, 207);
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(10vw, 10vh, 1px);
  transform: translate3d(62vw, 80vh, 35px);
}

@-webkit-keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(13vw, 74vh, 290px) rotate(63deg);
    transform: translate3d(71vw, 73vh, 298px) rotate(29deg);
  }
  100% {
    -webkit-transform: translate3d(91vw, 85vh, 57px) rotate(132deg);
    transform: translate3d(51vw, 47vh, 304px) rotate(166deg);
  }
}
@keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(14vw, 17vh, 44px) rotate(48deg);
    transform: translate3d(4vw, 38vh, 370px) rotate(37deg);
  }
  100% {
    -webkit-transform: translate3d(31vw, 40vh, 223px) rotate(19deg);
    transform: translate3d(48vw, 70vh, 12px) rotate(147deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(9) {
  -webkit-animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(49, 49, 49);
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  -webkit-transform: translate3d(77vw, 85vh, 76px);
  transform: translate3d(22vw, 4vh, 1px);
}

@-webkit-keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(14vw, 51vh, 400px) rotate(73deg);
    transform: translate3d(35vw, 41vh, 240px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(32vw, 49vh, 5px) rotate(31deg);
    transform: translate3d(33vw, 74vh, 37px) rotate(175deg);
  }
}
@keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(28vw, 61vh, 86px) rotate(35deg);
    transform: translate3d(43vw, 41vh, 127px) rotate(26deg);
  }
  100% {
    -webkit-transform: translate3d(28vw, 22vh, 133px) rotate(106deg);
    transform: translate3d(88vw, 73vh, 346px) rotate(53deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(10) {
  -webkit-animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(223, 223, 223);
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
  -webkit-transform: translate3d(49vw, 46vh, 56px);
  transform: translate3d(81vw, 7vh, 40px);
}

@-webkit-keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(45vw, 3vh, 89px) rotate(83deg);
    transform: translate3d(48vw, 36vh, 192px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate3d(33vw, 78vh, 77px) rotate(30deg);
    transform: translate3d(66vw, 42vh, 88px) rotate(104deg);
  }
}
@keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(43vw, 17vh, 85px) rotate(88deg);
    transform: translate3d(29vw, 1vh, 375px) rotate(80deg);
  }
  100% {
    -webkit-transform: translate3d(57vw, 62vh, 192px) rotate(51deg);
    transform: translate3d(16vw, 88vh, 46px) rotate(114deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(11) {
  -webkit-animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(142, 142, 142);
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  -webkit-transform: translate3d(28vw, 69vh, 30px);
  transform: translate3d(5vw, 63vh, 64px);
}

@-webkit-keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(92vw, 51vh, 327px) rotate(23deg);
    transform: translate3d(94vw, 78vh, 198px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(53vw, 73vh, 219px) rotate(48deg);
    transform: translate3d(79vw, 3vh, 223px) rotate(115deg);
  }
}
@keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(97vw, 54vh, 76px) rotate(44deg);
    transform: translate3d(28vw, 13vh, 20px) rotate(71deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 63vh, 216px) rotate(37deg);
    transform: translate3d(48vw, 63vh, 93px) rotate(89deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(12) {
  -webkit-animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(253, 253, 253);
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  -webkit-transform: translate3d(13vw, 49vh, 16px);
  transform: translate3d(8vw, 67vh, 12px);
}

@-webkit-keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(80vw, 23vh, 383px) rotate(41deg);
    transform: translate3d(21vw, 24vh, 391px) rotate(56deg);
  }
  100% {
    -webkit-transform: translate3d(68vw, 25vh, 217px) rotate(51deg);
    transform: translate3d(28vw, 73vh, 147px) rotate(45deg);
  }
}
@keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(27vw, 20vh, 77px) rotate(45deg);
    transform: translate3d(95vw, 72vh, 117px) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(37vw, 44vh, 169px) rotate(88deg);
    transform: translate3d(13vw, 15vh, 173px) rotate(124deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(13) {
  -webkit-animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(61, 61, 61);
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  -webkit-transform: translate3d(74vw, 12vh, 41px);
  transform: translate3d(76vw, 73vh, 64px);
}

@-webkit-keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(16vw, 21vh, 75px) rotate(38deg);
    transform: translate3d(17vw, 67vh, 192px) rotate(32deg);
  }
  100% {
    -webkit-transform: translate3d(93vw, 2vh, 43px) rotate(63deg);
    transform: translate3d(75vw, 47vh, 310px) rotate(11deg);
  }
}
@keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(11vw, 26vh, 9px) rotate(85deg);
    transform: translate3d(53vw, 89vh, 219px) rotate(18deg);
  }
  100% {
    -webkit-transform: translate3d(87vw, 24vh, 267px) rotate(69deg);
    transform: translate3d(97vw, 53vh, 259px) rotate(170deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(14) {
  -webkit-animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(202, 202, 202);
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  -webkit-transform: translate3d(41vw, 26vh, 80px);
  transform: translate3d(27vw, 90vh, 45px);
}

@-webkit-keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(31vw, 75vh, 342px) rotate(81deg);
    transform: translate3d(86vw, 64vh, 97px) rotate(77deg);
  }
  100% {
    -webkit-transform: translate3d(8vw, 54vh, 264px) rotate(79deg);
    transform: translate3d(96vw, 90vh, 162px) rotate(6deg);
  }
}
@keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(79vw, 44vh, 74px) rotate(74deg);
    transform: translate3d(42vw, 49vh, 339px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(67vw, 36vh, 352px) rotate(134deg);
    transform: translate3d(79vw, 55vh, 254px) rotate(71deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(15) {
  -webkit-animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(7, 7, 7);
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  -webkit-transform: translate3d(74vw, 34vh, 91px);
  transform: translate3d(82vw, 12vh, 62px);
}

@-webkit-keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(5vw, 64vh, 332px) rotate(33deg);
    transform: translate3d(21vw, 62vh, 19px) rotate(37deg);
  }
  100% {
    -webkit-transform: translate3d(97vw, 89vh, 211px) rotate(112deg);
    transform: translate3d(25vw, 14vh, 197px) rotate(1deg);
  }
}
@keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(63vw, 14vh, 94px) rotate(55deg);
    transform: translate3d(97vw, 8vh, 8px) rotate(90deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 21vh, 379px) rotate(126deg);
    transform: translate3d(91vw, 65vh, 176px) rotate(90deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(16) {
  -webkit-animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(130, 130, 130);
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  -webkit-transform: translate3d(25vw, 10vh, 12px);
  transform: translate3d(11vw, 83vh, 55px);
}

@-webkit-keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(32vw, 84vh, 173px) rotate(37deg);
    transform: translate3d(61vw, 36vh, 264px) rotate(80deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 54vh, 205px) rotate(34deg);
    transform: translate3d(73vw, 92vh, 174px) rotate(110deg);
  }
}
@keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(89vw, 9vh, 43px) rotate(18deg);
    transform: translate3d(32vw, 80vh, 152px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(74vw, 77vh, 212px) rotate(80deg);
    transform: translate3d(51vw, 43vh, 100px) rotate(40deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(17) {
  -webkit-animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(9, 9, 9);
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  -webkit-transform: translate3d(9vw, 11vh, 55px);
  transform: translate3d(88vw, 38vh, 17px);
}

@-webkit-keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(70vw, 83vh, 129px) rotate(4deg);
    transform: translate3d(5vw, 79vh, 173px) rotate(64deg);
  }
  100% {
    -webkit-transform: translate3d(41vw, 87vh, 317px) rotate(100deg);
    transform: translate3d(70vw, 51vh, 272px) rotate(141deg);
  }
}
@keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(52vw, 91vh, 88px) rotate(38deg);
    transform: translate3d(39vw, 79vh, 333px) rotate(43deg);
  }
  100% {
    -webkit-transform: translate3d(30vw, 93vh, 57px) rotate(111deg);
    transform: translate3d(36vw, 95vh, 198px) rotate(13deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(18) {
  -webkit-animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(34, 34, 34);
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  -webkit-transform: translate3d(69vw, 26vh, 58px);
  transform: translate3d(46vw, 68vh, 26px);
}

@-webkit-keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(5vw, 36vh, 177px) rotate(70deg);
    transform: translate3d(19vw, 83vh, 104px) rotate(48deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, 13vh, 307px) rotate(116deg);
    transform: translate3d(62vw, 50vh, 146px) rotate(162deg);
  }
}
@keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(32vw, 68vh, 14px) rotate(49deg);
    transform: translate3d(21vw, 78vh, 156px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(96vw, 58vh, 81px) rotate(100deg);
    transform: translate3d(10vw, 7vh, 207px) rotate(72deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(19) {
  -webkit-animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(164, 164, 164);
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  -webkit-transform: translate3d(86vw, 37vh, 38px);
  transform: translate3d(40vw, 29vh, 2px);
}

@-webkit-keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(67vw, 4vh, 345px) rotate(63deg);
    transform: translate3d(18vw, 70vh, 346px) rotate(61deg);
  }
  100% {
    -webkit-transform: translate3d(10vw, 69vh, 129px) rotate(146deg);
    transform: translate3d(43vw, 82vh, 274px) rotate(81deg);
  }
}
@keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(8vw, 13vh, 83px) rotate(40deg);
    transform: translate3d(70vw, 42vh, 16px) rotate(49deg);
  }
  100% {
    -webkit-transform: translate3d(94vw, 57vh, 72px) rotate(124deg);
    transform: translate3d(49vw, 60vh, 280px) rotate(50deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(20) {
  -webkit-animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(122, 122, 122);
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
  -webkit-transform: translate3d(63vw, 39vh, 89px);
  transform: translate3d(89vw, 46vh, 86px);
}

@-webkit-keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(37vw, 45vh, 34px) rotate(13deg);
    transform: translate3d(34vw, 22vh, 145px) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(30vw, 95vh, 246px) rotate(26deg);
    transform: translate3d(78vw, 60vh, 224px) rotate(149deg);
  }
}
@keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(44vw, 28vh, 54px) rotate(54deg);
    transform: translate3d(86vw, 17vh, 19px) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(72vw, 50vh, 159px) rotate(26deg);
    transform: translate3d(100vw, 46vh, 173px) rotate(149deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(21) {
  -webkit-animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(247, 247, 247);
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
  -webkit-transform: translate3d(65vw, 89vh, 10px);
  transform: translate3d(31vw, 37vh, 59px);
}

@-webkit-keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(36vw, 90vh, 72px) rotate(10deg);
    transform: translate3d(32vw, 72vh, 67px) rotate(59deg);
  }
  100% {
    -webkit-transform: translate3d(6vw, 67vh, 209px) rotate(103deg);
    transform: translate3d(39vw, 16vh, 156px) rotate(31deg);
  }
}
@keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(22vw, 24vh, 2px) rotate(76deg);
    transform: translate3d(73vw, 9vh, 304px) rotate(55deg);
  }
  100% {
    -webkit-transform: translate3d(20vw, 58vh, 254px) rotate(109deg);
    transform: translate3d(65vw, 31vh, 44px) rotate(81deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(22) {
  -webkit-animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(239, 239, 239);
  -webkit-animation-delay: -22s;
  animation-delay: -22s;
  -webkit-transform: translate3d(71vw, 6vh, 61px);
  transform: translate3d(67vw, 3vh, 58px);
}

@-webkit-keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(89vw, 97vh, 109px) rotate(58deg);
    transform: translate3d(30vw, 40vh, 71px) rotate(14deg);
  }
  100% {
    -webkit-transform: translate3d(92vw, 4vh, 274px) rotate(88deg);
    transform: translate3d(16vw, 24vh, 20px) rotate(133deg);
  }
}
@keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(34vw, 65vh, 14px) rotate(79deg);
    transform: translate3d(41vw, 95vh, 211px) rotate(14deg);
  }
  100% {
    -webkit-transform: translate3d(99vw, 96vh, 253px) rotate(76deg);
    transform: translate3d(16vw, 60vh, 94px) rotate(41deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(23) {
  -webkit-animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(95, 95, 95);
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  -webkit-transform: translate3d(64vw, 19vh, 40px);
  transform: translate3d(42vw, 81vh, 1px);
}

@-webkit-keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(65vw, 74vh, 37px) rotate(87deg);
    transform: translate3d(19vw, 65vh, 368px) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 28vh, 220px) rotate(16deg);
    transform: translate3d(43vw, 47vh, 5px) rotate(121deg);
  }
}
@keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(88vw, 47vh, 58px) rotate(86deg);
    transform: translate3d(55vw, 74vh, 176px) rotate(17deg);
  }
  100% {
    -webkit-transform: translate3d(31vw, 6vh, 216px) rotate(51deg);
    transform: translate3d(72vw, 28vh, 159px) rotate(145deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(24) {
  -webkit-animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(75, 75, 75);
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  -webkit-transform: translate3d(83vw, 83vh, 22px);
  transform: translate3d(87vw, 35vh, 21px);
}

@-webkit-keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(26vw, 60vh, 226px) rotate(50deg);
    transform: translate3d(47vw, 86vh, 9px) rotate(72deg);
  }
  100% {
    -webkit-transform: translate3d(61vw, 8vh, 397px) rotate(24deg);
    transform: translate3d(3vw, 49vh, 9px) rotate(9deg);
  }
}
@keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(45vw, 56vh, 82px) rotate(71deg);
    transform: translate3d(81vw, 34vh, 336px) rotate(7deg);
  }
  100% {
    -webkit-transform: translate3d(62vw, 84vh, 180px) rotate(86deg);
    transform: translate3d(80vw, 85vh, 66px) rotate(8deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(25) {
  -webkit-animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(222, 222, 222);
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  -webkit-transform: translate3d(76vw, 61vh, 4px);
  transform: translate3d(33vw, 33vh, 12px);
}

@-webkit-keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(18vw, 5vh, 215px) rotate(53deg);
    transform: translate3d(97vw, 28vh, 177px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(7vw, 68vh, 197px) rotate(15deg);
    transform: translate3d(26vw, 42vh, 261px) rotate(53deg);
  }
}
@keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(89vw, 27vh, 71px) rotate(40deg);
    transform: translate3d(61vw, 71vh, 356px) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(36vw, 85vh, 282px) rotate(157deg);
    transform: translate3d(9vw, 51vh, 266px) rotate(103deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(26) {
  -webkit-animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(208, 208, 208);
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  -webkit-transform: translate3d(75vw, 45vh, 72px);
  transform: translate3d(35vw, 39vh, 13px);
}

@-webkit-keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(81vw, 7vh, 299px) rotate(42deg);
    transform: translate3d(89vw, 14vh, 385px) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(24vw, 61vh, 261px) rotate(122deg);
    transform: translate3d(48vw, 83vh, 150px) rotate(10deg);
  }
}
@keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(41vw, 50vh, 41px) rotate(24deg);
    transform: translate3d(69vw, 26vh, 15px) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(20vw, 20vh, 365px) rotate(54deg);
    transform: translate3d(78vw, 13vh, 264px) rotate(151deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(27) {
  -webkit-animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(97, 97, 97);
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
  -webkit-transform: translate3d(14vw, 19vh, 84px);
  transform: translate3d(12vw, 74vh, 15px);
}

@-webkit-keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(24vw, 15vh, 163px) rotate(22deg);
    transform: translate3d(36vw, 15vh, 379px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate3d(40vw, 12vh, 365px) rotate(43deg);
    transform: translate3d(84vw, 46vh, 252px) rotate(128deg);
  }
}
@keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(80vw, 74vh, 91px) rotate(65deg);
    transform: translate3d(60vw, 74vh, 53px) rotate(39deg);
  }
  100% {
    -webkit-transform: translate3d(72vw, 2vh, 214px) rotate(54deg);
    transform: translate3d(9vw, 86vh, 272px) rotate(37deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(28) {
  -webkit-animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(145, 145, 145);
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  -webkit-transform: translate3d(80vw, 72vh, 75px);
  transform: translate3d(20vw, 68vh, 72px);
}

@-webkit-keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(47vw, 95vh, 59px) rotate(30deg);
    transform: translate3d(26vw, 76vh, 54px) rotate(24deg);
  }
  100% {
    -webkit-transform: translate3d(31vw, 51vh, 282px) rotate(54deg);
    transform: translate3d(38vw, 16vh, 235px) rotate(157deg);
  }
}
@keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(33vw, 76vh, 47px) rotate(53deg);
    transform: translate3d(58vw, 75vh, 313px) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(71vw, 88vh, 188px) rotate(48deg);
    transform: translate3d(99vw, 96vh, 95px) rotate(69deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(29) {
  -webkit-animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(189, 189, 189);
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  -webkit-transform: translate3d(4vw, 4vh, 66px);
  transform: translate3d(31vw, 67vh, 40px);
}

@-webkit-keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(54vw, 54vh, 347px) rotate(7deg);
    transform: translate3d(90vw, 97vh, 318px) rotate(26deg);
  }
  100% {
    -webkit-transform: translate3d(17vw, 89vh, 292px) rotate(68deg);
    transform: translate3d(97vw, 86vh, 378px) rotate(145deg);
  }
}
@keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(67vw, 17vh, 80px) rotate(54deg);
    transform: translate3d(37vw, 40vh, 189px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(83vw, 74vh, 382px) rotate(73deg);
    transform: translate3d(61vw, 83vh, 183px) rotate(56deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(30) {
  -webkit-animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(22, 22, 22);
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  -webkit-transform: translate3d(12vw, 6vh, 13px);
  transform: translate3d(33vw, 82vh, 26px);
}

@-webkit-keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(11vw, 97vh, 135px) rotate(31deg);
    transform: translate3d(93vw, 62vh, 252px) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(47vw, 47vh, 232px) rotate(2deg);
    transform: translate3d(68vw, 30vh, 212px) rotate(172deg);
  }
}
@keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(26vw, 80vh, 26px) rotate(39deg);
    transform: translate3d(59vw, 65vh, 74px) rotate(61deg);
  }
  100% {
    -webkit-transform: translate3d(99vw, 93vh, 340px) rotate(1deg);
    transform: translate3d(17vw, 12vh, 182px) rotate(104deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(31) {
  -webkit-animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(106, 106, 106);
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  -webkit-transform: translate3d(4vw, 74vh, 12px);
  transform: translate3d(55vw, 46vh, 99px);
}

/********* End particle Animation Styles ***********/
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.greeting-card-container {
  width: 100%;
  height: 100%;
}

.quest-container {
  padding: 1rem;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.nav-button {
  font-family: "Anime Ace v3";
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background: none;
  border: 2px solid #30b0cd;
  border-radius: 5px;
}
.nav-button:hover {
  background-color: #30b0cd;
}

.deutch-font {
  font-family: "GermaniaOne-regular";
}

@font-face {
  font-family: "Anime Ace v3";
  src: url("../fonts/anime_ace_v3.ttf") format("truetype");
}
@font-face {
  font-family: "GermaniaOne-regular";
  src: url("../fonts/GermaniaOne-Regular.ttf") format("truetype");
}
