html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

main {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Anime Ace v3";
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(#1d709c, #000b39);
}

.floating-button {
  width: 12rem;
  height: 3rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: #00add4;
  border: 2px solid #00add4;
  border-radius: 5px;
  position: relative;
  transition: all 0.35s;
}
.floating-button span {
  position: relative;
  z-index: 2;
}
.floating-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00add4;
  transition: all 0.35s;
}
.floating-button:hover {
  color: white;
  cursor: pointer;
}
.floating-button:hover:after {
  width: 100%;
}
@media (max-width: 767px) {
  .floating-button {
    font-size: 28px;
    height: 4rem;
  }
}

.transparent {
  opacity: 0;
}

.fade-in {
  animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00add4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00add4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0096B8;
}

.particle-container {
  background-color: #f9ecd0;
  position: relative;
  height: 100vh;
}

.circle {
  border-radius: 50%;
  position: absolute;
  z-index: 64;
}

@-webkit-keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(100vw, 87vh, 60px) rotate(75deg);
    transform: translate3d(65vw, 31vh, 57px) rotate(31deg);
  }
  100% {
    -webkit-transform: translate3d(63vw, 35vh, 100px) rotate(89deg);
    transform: translate3d(51vw, 38vh, 304px) rotate(110deg);
  }
}
@keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(18vw, 94vh, 19px) rotate(51deg);
    transform: translate3d(26vw, 55vh, 101px) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 71vh, 185px) rotate(88deg);
    transform: translate3d(26vw, 37vh, 102px) rotate(141deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(1) {
  -webkit-animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(104, 104, 104);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(15vw, 51vh, 91px);
  transform: translate3d(43vw, 72vh, 38px);
}

@-webkit-keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(52vw, 28vh, 177px) rotate(15deg);
    transform: translate3d(11vw, 66vh, 360px) rotate(65deg);
  }
  100% {
    -webkit-transform: translate3d(52vw, 27vh, 236px) rotate(89deg);
    transform: translate3d(71vw, 17vh, 175px) rotate(35deg);
  }
}
@keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(23vw, 26vh, 24px) rotate(18deg);
    transform: translate3d(73vw, 91vh, 60px) rotate(81deg);
  }
  100% {
    -webkit-transform: translate3d(6vw, 88vh, 156px) rotate(151deg);
    transform: translate3d(45vw, 55vh, 63px) rotate(125deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(2) {
  -webkit-animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(211, 211, 211);
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(68vw, 35vh, 99px);
  transform: translate3d(25vw, 49vh, 23px);
}

@-webkit-keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(38vw, 75vh, 277px) rotate(33deg);
    transform: translate3d(40vw, 2vh, 232px) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(24vw, 8vh, 14px) rotate(165deg);
    transform: translate3d(40vw, 93vh, 222px) rotate(115deg);
  }
}
@keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(19vw, 51vh, 2px) rotate(74deg);
    transform: translate3d(29vw, 19vh, 119px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate3d(97vw, 45vh, 69px) rotate(26deg);
    transform: translate3d(6vw, 15vh, 273px) rotate(114deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(3) {
  -webkit-animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(136, 136, 136);
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(73vw, 86vh, 38px);
  transform: translate3d(31vw, 79vh, 16px);
}

@-webkit-keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(29vw, 86vh, 385px) rotate(76deg);
    transform: translate3d(55vw, 63vh, 350px) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(2vw, 38vh, 62px) rotate(160deg);
    transform: translate3d(89vw, 92vh, 386px) rotate(28deg);
  }
}
@keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(50vw, 90vh, 33px) rotate(51deg);
    transform: translate3d(65vw, 45vh, 71px) rotate(78deg);
  }
  100% {
    -webkit-transform: translate3d(44vw, 37vh, 176px) rotate(55deg);
    transform: translate3d(84vw, 11vh, 94px) rotate(52deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(4) {
  -webkit-animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(226, 226, 226);
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(28vw, 3vh, 5px);
  transform: translate3d(48vw, 23vh, 94px);
}

@-webkit-keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(39vw, 95vh, 235px) rotate(28deg);
    transform: translate3d(75vw, 91vh, 47px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(78vw, 52vh, 90px) rotate(18deg);
    transform: translate3d(92vw, 66vh, 72px) rotate(87deg);
  }
}
@keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(74vw, 23vh, 96px) rotate(1deg);
    transform: translate3d(36vw, 33vh, 17px) rotate(88deg);
  }
  100% {
    -webkit-transform: translate3d(42vw, 99vh, 97px) rotate(131deg);
    transform: translate3d(73vw, 94vh, 251px) rotate(81deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(5) {
  -webkit-animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(64, 64, 64);
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(33vw, 39vh, 57px);
  transform: translate3d(40vw, 71vh, 7px);
}

@-webkit-keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(51vw, 60vh, 387px) rotate(80deg);
    transform: translate3d(86vw, 19vh, 147px) rotate(18deg);
  }
  100% {
    -webkit-transform: translate3d(44vw, 35vh, 130px) rotate(9deg);
    transform: translate3d(67vw, 69vh, 20px) rotate(105deg);
  }
}
@keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(91vw, 41vh, 19px) rotate(20deg);
    transform: translate3d(9vw, 50vh, 368px) rotate(63deg);
  }
  100% {
    -webkit-transform: translate3d(71vw, 93vh, 114px) rotate(78deg);
    transform: translate3d(37vw, 42vh, 60px) rotate(79deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(6) {
  -webkit-animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(12, 12, 12);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-transform: translate3d(37vw, 76vh, 38px);
  transform: translate3d(34vw, 46vh, 26px);
}

@-webkit-keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(40vw, 36vh, 237px) rotate(72deg);
    transform: translate3d(99vw, 84vh, 126px) rotate(87deg);
  }
  100% {
    -webkit-transform: translate3d(44vw, 68vh, 40px) rotate(171deg);
    transform: translate3d(39vw, 43vh, 352px) rotate(24deg);
  }
}
@keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(77vw, 48vh, 15px) rotate(84deg);
    transform: translate3d(25vw, 80vh, 98px) rotate(64deg);
  }
  100% {
    -webkit-transform: translate3d(36vw, 75vh, 233px) rotate(96deg);
    transform: translate3d(46vw, 48vh, 120px) rotate(139deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(7) {
  -webkit-animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(146, 146, 146);
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform: translate3d(77vw, 70vh, 65px);
  transform: translate3d(26vw, 86vh, 54px);
}

@-webkit-keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(34vw, 27vh, 33px) rotate(28deg);
    transform: translate3d(20vw, 43vh, 133px) rotate(88deg);
  }
  100% {
    -webkit-transform: translate3d(11vw, 63vh, 157px) rotate(73deg);
    transform: translate3d(42vw, 65vh, 202px) rotate(168deg);
  }
}
@keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(86vw, 42vh, 100px) rotate(32deg);
    transform: translate3d(5vw, 38vh, 149px) rotate(78deg);
  }
  100% {
    -webkit-transform: translate3d(96vw, 92vh, 20px) rotate(88deg);
    transform: translate3d(20vw, 81vh, 149px) rotate(114deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(8) {
  -webkit-animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(216, 216, 216);
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(30vw, 8vh, 26px);
  transform: translate3d(87vw, 86vh, 67px);
}

@-webkit-keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(6vw, 19vh, 374px) rotate(73deg);
    transform: translate3d(78vw, 37vh, 182px) rotate(3deg);
  }
  100% {
    -webkit-transform: translate3d(46vw, 35vh, 159px) rotate(138deg);
    transform: translate3d(82vw, 74vh, 205px) rotate(114deg);
  }
}
@keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(11vw, 47vh, 89px) rotate(60deg);
    transform: translate3d(71vw, 57vh, 330px) rotate(72deg);
  }
  100% {
    -webkit-transform: translate3d(99vw, 4vh, 173px) rotate(110deg);
    transform: translate3d(20vw, 34vh, 330px) rotate(144deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(9) {
  -webkit-animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(31, 31, 31);
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  -webkit-transform: translate3d(12vw, 37vh, 11px);
  transform: translate3d(86vw, 64vh, 59px);
}

@-webkit-keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(11vw, 20vh, 56px) rotate(21deg);
    transform: translate3d(13vw, 99vh, 369px) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 48vh, 25px) rotate(3deg);
    transform: translate3d(23vw, 12vh, 243px) rotate(54deg);
  }
}
@keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(49vw, 60vh, 89px) rotate(5deg);
    transform: translate3d(67vw, 59vh, 369px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(17vw, 14vh, 203px) rotate(28deg);
    transform: translate3d(5vw, 6vh, 74px) rotate(139deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(10) {
  -webkit-animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(230, 230, 230);
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
  -webkit-transform: translate3d(35vw, 19vh, 26px);
  transform: translate3d(5vw, 41vh, 24px);
}

@-webkit-keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(28vw, 46vh, 272px) rotate(8deg);
    transform: translate3d(19vw, 52vh, 333px) rotate(61deg);
  }
  100% {
    -webkit-transform: translate3d(80vw, 47vh, 174px) rotate(3deg);
    transform: translate3d(46vw, 75vh, 330px) rotate(178deg);
  }
}
@keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(4vw, 44vh, 6px) rotate(27deg);
    transform: translate3d(72vw, 36vh, 181px) rotate(62deg);
  }
  100% {
    -webkit-transform: translate3d(77vw, 30vh, 170px) rotate(82deg);
    transform: translate3d(82vw, 73vh, 377px) rotate(91deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(11) {
  -webkit-animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(61, 61, 61);
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  -webkit-transform: translate3d(43vw, 41vh, 44px);
  transform: translate3d(18vw, 61vh, 2px);
}

@-webkit-keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(88vw, 69vh, 109px) rotate(85deg);
    transform: translate3d(36vw, 69vh, 89px) rotate(31deg);
  }
  100% {
    -webkit-transform: translate3d(43vw, 13vh, 203px) rotate(90deg);
    transform: translate3d(10vw, 17vh, 186px) rotate(106deg);
  }
}
@keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(85vw, 92vh, 87px) rotate(64deg);
    transform: translate3d(7vw, 4vh, 153px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 45vh, 189px) rotate(104deg);
    transform: translate3d(90vw, 43vh, 372px) rotate(137deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(12) {
  -webkit-animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(125, 125, 125);
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  -webkit-transform: translate3d(85vw, 84vh, 22px);
  transform: translate3d(43vw, 7vh, 17px);
}

@-webkit-keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(31vw, 37vh, 239px) rotate(71deg);
    transform: translate3d(53vw, 59vh, 289px) rotate(49deg);
  }
  100% {
    -webkit-transform: translate3d(15vw, 27vh, 77px) rotate(97deg);
    transform: translate3d(88vw, 4vh, 90px) rotate(1deg);
  }
}
@keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(51vw, 74vh, 84px) rotate(50deg);
    transform: translate3d(58vw, 89vh, 54px) rotate(58deg);
  }
  100% {
    -webkit-transform: translate3d(85vw, 4vh, 353px) rotate(52deg);
    transform: translate3d(57vw, 94vh, 279px) rotate(180deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(13) {
  -webkit-animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(174, 174, 174);
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  -webkit-transform: translate3d(62vw, 62vh, 100px);
  transform: translate3d(57vw, 11vh, 3px);
}

@-webkit-keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(2vw, 21vh, 388px) rotate(33deg);
    transform: translate3d(28vw, 30vh, 75px) rotate(51deg);
  }
  100% {
    -webkit-transform: translate3d(1vw, 8vh, 20px) rotate(141deg);
    transform: translate3d(94vw, 46vh, 75px) rotate(155deg);
  }
}
@keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(29vw, 4vh, 90px) rotate(52deg);
    transform: translate3d(21vw, 85vh, 114px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(27vw, 93vh, 336px) rotate(40deg);
    transform: translate3d(97vw, 17vh, 308px) rotate(128deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(14) {
  -webkit-animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(24, 24, 24);
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  -webkit-transform: translate3d(89vw, 83vh, 24px);
  transform: translate3d(28vw, 65vh, 77px);
}

@-webkit-keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(24vw, 20vh, 15px) rotate(29deg);
    transform: translate3d(57vw, 52vh, 175px) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(71vw, 29vh, 247px) rotate(22deg);
    transform: translate3d(24vw, 68vh, 364px) rotate(157deg);
  }
}
@keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(11vw, 56vh, 54px) rotate(53deg);
    transform: translate3d(51vw, 62vh, 281px) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(37vw, 87vh, 145px) rotate(64deg);
    transform: translate3d(12vw, 89vh, 67px) rotate(81deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(15) {
  -webkit-animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(217, 217, 217);
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  -webkit-transform: translate3d(36vw, 2vh, 5px);
  transform: translate3d(39vw, 4vh, 74px);
}

@-webkit-keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(78vw, 6vh, 260px) rotate(45deg);
    transform: translate3d(33vw, 16vh, 253px) rotate(7deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, 76vh, 127px) rotate(86deg);
    transform: translate3d(96vw, 87vh, 136px) rotate(73deg);
  }
}
@keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(77vw, 9vh, 7px) rotate(49deg);
    transform: translate3d(48vw, 15vh, 114px) rotate(54deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, 93vh, 188px) rotate(107deg);
    transform: translate3d(57vw, 38vh, 109px) rotate(162deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(16) {
  -webkit-animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(164, 164, 164);
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  -webkit-transform: translate3d(11vw, 35vh, 87px);
  transform: translate3d(25vw, 38vh, 41px);
}

@-webkit-keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(55vw, 81vh, 292px) rotate(47deg);
    transform: translate3d(39vw, 30vh, 188px) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(29vw, 95vh, 49px) rotate(56deg);
    transform: translate3d(37vw, 25vh, 100px) rotate(32deg);
  }
}
@keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(75vw, 48vh, 26px) rotate(88deg);
    transform: translate3d(71vw, 23vh, 208px) rotate(56deg);
  }
  100% {
    -webkit-transform: translate3d(97vw, 11vh, 104px) rotate(67deg);
    transform: translate3d(40vw, 32vh, 8px) rotate(8deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(17) {
  -webkit-animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(235, 235, 235);
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  -webkit-transform: translate3d(40vw, 32vh, 64px);
  transform: translate3d(60vw, 50vh, 55px);
}

@-webkit-keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(70vw, 57vh, 318px) rotate(7deg);
    transform: translate3d(30vw, 99vh, 223px) rotate(38deg);
  }
  100% {
    -webkit-transform: translate3d(48vw, 76vh, 195px) rotate(136deg);
    transform: translate3d(97vw, 59vh, 81px) rotate(17deg);
  }
}
@keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(1vw, 76vh, 54px) rotate(38deg);
    transform: translate3d(15vw, 4vh, 210px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 66vh, 169px) rotate(45deg);
    transform: translate3d(71vw, 46vh, 50px) rotate(34deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(18) {
  -webkit-animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(12, 12, 12);
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  -webkit-transform: translate3d(62vw, 6vh, 10px);
  transform: translate3d(18vw, 9vh, 15px);
}

@-webkit-keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(71vw, 46vh, 217px) rotate(50deg);
    transform: translate3d(35vw, 80vh, 362px) rotate(61deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 96vh, 280px) rotate(141deg);
    transform: translate3d(33vw, 88vh, 136px) rotate(63deg);
  }
}
@keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(33vw, 16vh, 19px) rotate(82deg);
    transform: translate3d(33vw, 33vh, 300px) rotate(49deg);
  }
  100% {
    -webkit-transform: translate3d(14vw, 9vh, 89px) rotate(79deg);
    transform: translate3d(85vw, 37vh, 328px) rotate(70deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(19) {
  -webkit-animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(66, 66, 66);
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  -webkit-transform: translate3d(2vw, 23vh, 20px);
  transform: translate3d(71vw, 16vh, 68px);
}

@-webkit-keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(82vw, 44vh, 308px) rotate(51deg);
    transform: translate3d(60vw, 89vh, 392px) rotate(3deg);
  }
  100% {
    -webkit-transform: translate3d(12vw, 5vh, 174px) rotate(81deg);
    transform: translate3d(48vw, 49vh, 239px) rotate(3deg);
  }
}
@keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(26vw, 67vh, 87px) rotate(59deg);
    transform: translate3d(44vw, 42vh, 302px) rotate(6deg);
  }
  100% {
    -webkit-transform: translate3d(93vw, 37vh, 201px) rotate(106deg);
    transform: translate3d(49vw, 23vh, 368px) rotate(147deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(20) {
  -webkit-animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(124, 124, 124);
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
  -webkit-transform: translate3d(15vw, 24vh, 89px);
  transform: translate3d(12vw, 31vh, 89px);
}

@-webkit-keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(34vw, 78vh, 273px) rotate(40deg);
    transform: translate3d(51vw, 81vh, 126px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate3d(15vw, 70vh, 193px) rotate(37deg);
    transform: translate3d(58vw, 22vh, 352px) rotate(41deg);
  }
}
@keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(22vw, 71vh, 34px) rotate(2deg);
    transform: translate3d(71vw, 82vh, 16px) rotate(6deg);
  }
  100% {
    -webkit-transform: translate3d(34vw, 57vh, 219px) rotate(144deg);
    transform: translate3d(20vw, 18vh, 238px) rotate(125deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(21) {
  -webkit-animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(131, 131, 131);
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
  -webkit-transform: translate3d(51vw, 43vh, 94px);
  transform: translate3d(55vw, 55vh, 52px);
}

@-webkit-keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(83vw, 8vh, 358px) rotate(60deg);
    transform: translate3d(50vw, 26vh, 303px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(50vw, 15vh, 259px) rotate(135deg);
    transform: translate3d(75vw, 87vh, 198px) rotate(154deg);
  }
}
@keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(47vw, 22vh, 34px) rotate(12deg);
    transform: translate3d(49vw, 38vh, 72px) rotate(83deg);
  }
  100% {
    -webkit-transform: translate3d(57vw, 60vh, 141px) rotate(153deg);
    transform: translate3d(97vw, 58vh, 371px) rotate(122deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(22) {
  -webkit-animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(5, 5, 5);
  -webkit-animation-delay: -22s;
  animation-delay: -22s;
  -webkit-transform: translate3d(46vw, 38vh, 76px);
  transform: translate3d(6vw, 56vh, 47px);
}

@-webkit-keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(31vw, 56vh, 83px) rotate(61deg);
    transform: translate3d(73vw, 87vh, 216px) rotate(76deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 79vh, 358px) rotate(3deg);
    transform: translate3d(83vw, 33vh, 65px) rotate(40deg);
  }
}
@keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(7vw, 46vh, 21px) rotate(60deg);
    transform: translate3d(15vw, 64vh, 301px) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(4vw, 26vh, 202px) rotate(43deg);
    transform: translate3d(78vw, 62vh, 264px) rotate(18deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(23) {
  -webkit-animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(211, 211, 211);
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  -webkit-transform: translate3d(15vw, 7vh, 57px);
  transform: translate3d(51vw, 75vh, 97px);
}

@-webkit-keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(65vw, 62vh, 105px) rotate(47deg);
    transform: translate3d(42vw, 75vh, 61px) rotate(55deg);
  }
  100% {
    -webkit-transform: translate3d(29vw, 95vh, 110px) rotate(58deg);
    transform: translate3d(63vw, 54vh, 219px) rotate(135deg);
  }
}
@keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(73vw, 33vh, 80px) rotate(82deg);
    transform: translate3d(95vw, 64vh, 15px) rotate(36deg);
  }
  100% {
    -webkit-transform: translate3d(85vw, 7vh, 106px) rotate(142deg);
    transform: translate3d(36vw, 36vh, 149px) rotate(114deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(24) {
  -webkit-animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(17, 17, 17);
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  -webkit-transform: translate3d(16vw, 47vh, 58px);
  transform: translate3d(5vw, 40vh, 63px);
}

@-webkit-keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(64vw, 63vh, 263px) rotate(85deg);
    transform: translate3d(39vw, 1vh, 65px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(29vw, 90vh, 303px) rotate(102deg);
    transform: translate3d(28vw, 41vh, 146px) rotate(83deg);
  }
}
@keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(37vw, 53vh, 7px) rotate(89deg);
    transform: translate3d(41vw, 9vh, 101px) rotate(6deg);
  }
  100% {
    -webkit-transform: translate3d(11vw, 76vh, 345px) rotate(2deg);
    transform: translate3d(36vw, 7vh, 161px) rotate(31deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(25) {
  -webkit-animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(209, 209, 209);
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  -webkit-transform: translate3d(28vw, 30vh, 74px);
  transform: translate3d(76vw, 22vh, 51px);
}

@-webkit-keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(11vw, 74vh, 358px) rotate(2deg);
    transform: translate3d(90vw, 97vh, 163px) rotate(72deg);
  }
  100% {
    -webkit-transform: translate3d(2vw, 68vh, 19px) rotate(151deg);
    transform: translate3d(73vw, 29vh, 20px) rotate(75deg);
  }
}
@keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(99vw, 95vh, 64px) rotate(28deg);
    transform: translate3d(76vw, 2vh, 274px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(100vw, 19vh, 39px) rotate(28deg);
    transform: translate3d(5vw, 60vh, 326px) rotate(8deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(26) {
  -webkit-animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(29, 29, 29);
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  -webkit-transform: translate3d(59vw, 52vh, 85px);
  transform: translate3d(16vw, 82vh, 24px);
}

@-webkit-keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(48vw, 57vh, 281px) rotate(62deg);
    transform: translate3d(25vw, 30vh, 13px) rotate(30deg);
  }
  100% {
    -webkit-transform: translate3d(46vw, 21vh, 253px) rotate(95deg);
    transform: translate3d(68vw, 30vh, 65px) rotate(57deg);
  }
}
@keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(36vw, 34vh, 33px) rotate(72deg);
    transform: translate3d(22vw, 80vh, 204px) rotate(22deg);
  }
  100% {
    -webkit-transform: translate3d(68vw, 4vh, 23px) rotate(140deg);
    transform: translate3d(59vw, 32vh, 194px) rotate(169deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(27) {
  -webkit-animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(221, 221, 221);
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
  -webkit-transform: translate3d(78vw, 72vh, 82px);
  transform: translate3d(53vw, 54vh, 95px);
}

@-webkit-keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(21vw, 10vh, 147px) rotate(57deg);
    transform: translate3d(97vw, 94vh, 374px) rotate(3deg);
  }
  100% {
    -webkit-transform: translate3d(44vw, 74vh, 392px) rotate(87deg);
    transform: translate3d(51vw, 55vh, 196px) rotate(129deg);
  }
}
@keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(40vw, 92vh, 15px) rotate(1deg);
    transform: translate3d(88vw, 45vh, 167px) rotate(57deg);
  }
  100% {
    -webkit-transform: translate3d(6vw, 78vh, 327px) rotate(151deg);
    transform: translate3d(33vw, 43vh, 225px) rotate(165deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(28) {
  -webkit-animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(27, 27, 27);
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  -webkit-transform: translate3d(44vw, 57vh, 48px);
  transform: translate3d(30vw, 82vh, 36px);
}

@-webkit-keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(90vw, 17vh, 376px) rotate(29deg);
    transform: translate3d(62vw, 5vh, 133px) rotate(87deg);
  }
  100% {
    -webkit-transform: translate3d(15vw, 78vh, 246px) rotate(159deg);
    transform: translate3d(45vw, 80vh, 118px) rotate(1deg);
  }
}
@keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(56vw, 29vh, 83px) rotate(24deg);
    transform: translate3d(11vw, 23vh, 160px) rotate(7deg);
  }
  100% {
    -webkit-transform: translate3d(22vw, 24vh, 226px) rotate(106deg);
    transform: translate3d(19vw, 94vh, 248px) rotate(74deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(29) {
  -webkit-animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(151, 151, 151);
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  -webkit-transform: translate3d(2vw, 17vh, 70px);
  transform: translate3d(65vw, 65vh, 63px);
}

@-webkit-keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(62vw, 73vh, 314px) rotate(18deg);
    transform: translate3d(42vw, 53vh, 180px) rotate(89deg);
  }
  100% {
    -webkit-transform: translate3d(69vw, 89vh, 319px) rotate(123deg);
    transform: translate3d(13vw, 54vh, 246px) rotate(14deg);
  }
}
@keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(22vw, 39vh, 14px) rotate(62deg);
    transform: translate3d(1vw, 74vh, 331px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(80vw, 56vh, 307px) rotate(144deg);
    transform: translate3d(23vw, 27vh, 22px) rotate(158deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(30) {
  -webkit-animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(103, 103, 103);
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  -webkit-transform: translate3d(72vw, 49vh, 5px);
  transform: translate3d(85vw, 87vh, 52px);
}

@-webkit-keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(89vw, 27vh, 108px) rotate(79deg);
    transform: translate3d(41vw, 54vh, 234px) rotate(51deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, 98vh, 118px) rotate(41deg);
    transform: translate3d(69vw, 1vh, 90px) rotate(34deg);
  }
}
@keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(48vw, 52vh, 43px) rotate(46deg);
    transform: translate3d(88vw, 56vh, 343px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(27vw, 32vh, 227px) rotate(118deg);
    transform: translate3d(65vw, 2vh, 222px) rotate(70deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(31) {
  -webkit-animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(162, 162, 162);
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  -webkit-transform: translate3d(46vw, 20vh, 37px);
  transform: translate3d(88vw, 77vh, 20px);
}

/********* End particle Animation Styles ***********/
.home-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.greeting-card-container {
  width: 100%;
  height: 100%;
}

.quest-container {
  padding: 1rem;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.nav-button {
  font-family: "Anime Ace v3";
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background: none;
  border: 2px solid #30b0cd;
  border-radius: 5px;
}
.nav-button:hover {
  background-color: #30b0cd;
}

.deutch-font {
  font-family: "GermaniaOne-regular";
}

@font-face {
  font-family: "Anime Ace v3";
  src: url("../fonts/anime_ace_v3.ttf") format("truetype");
}
@font-face {
  font-family: "GermaniaOne-regular";
  src: url("../fonts/GermaniaOne-Regular.ttf") format("truetype");
}
