#render-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.overlay .text-container {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgba(0, 173, 212, 0.1);
  border-radius: 10px;
}
.overlay .text-container #printed-text {
  display: block;
  height: 100%;
  margin: 1.5rem 2.5rem;
  padding: 0 1rem;
  max-height: 75%;
  overflow: auto;
  font-size: 24px;
  line-height: 32px;
}
.overlay .text-container .buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
