@using EP_Quest.Components.Shared
@inject IJSRuntime JSRuntime

<Preloader IsLoading="IsLoading"></Preloader>

<div class="overlay">
    <div class="text-container">
        <p id="printed-text">@CurrentText</p>
    </div>
</div>

<canvas id="render-canvas"></canvas>

@code {
    public static event Action OnUpdate = delegate { };
    private static bool IsLoading { get; set; }
    private const string SceneUrl = "https://dl.dropboxusercontent.com/scl/fi/f7vto3x8c75kit7tpr5hq/Gangster.glb?rlkey=mkm188k1guwy4itcnmihlwmri&dl=0";
    private const string PrintedText = "Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь Ваш текст здесь";
    public static string CurrentText { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            OnUpdate = StateHasChanged;
            IsLoading = true;
            CurrentText = string.Empty;
            StateHasChanged();
            await LoadSceneAsync();
        }
    }

    private async Task LoadSceneAsync()
    {
        JSRuntime.InvokeVoidAsync("RenderOnCanvasAsync", "render-canvas", SceneUrl);
    }
    private static async Task PrintTextAsync()
    {
        var textArray = PrintedText.ToCharArray();

        foreach (var character in textArray)
        {
            await Task.Delay(100);
            CurrentText += character;
            OnUpdate?.Invoke();
        }
    }

    [JSInvokable]
    public static void OnSceneReady()
    {
        IsLoading = false;
        PrintTextAsync();
    }
}
