html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

.main {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Anime Ace v3";
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(#1d709c, #000b39);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00add4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00add4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0096B8;
}

.particle-container {
  background-color: #f9ecd0;
  position: relative;
  height: 100vh;
}

.circle {
  border-radius: 50%;
  position: absolute;
  z-index: 4;
}

@-webkit-keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(87vw, 3vh, 372px) rotate(63deg);
    transform: translate3d(17vw, 82vh, 63px) rotate(27deg);
  }
  100% {
    -webkit-transform: translate3d(43vw, 36vh, 67px) rotate(49deg);
    transform: translate3d(12vw, 75vh, 18px) rotate(1deg);
  }
}
@keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(24vw, 16vh, 61px) rotate(80deg);
    transform: translate3d(65vw, 80vh, 182px) rotate(43deg);
  }
  100% {
    -webkit-transform: translate3d(45vw, 23vh, 64px) rotate(164deg);
    transform: translate3d(95vw, 83vh, 90px) rotate(11deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(1) {
  -webkit-animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(76, 76, 76);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(3vw, 39vh, 100px);
  transform: translate3d(16vw, 59vh, 61px);
}

@-webkit-keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(25vw, 26vh, 84px) rotate(59deg);
    transform: translate3d(93vw, 11vh, 302px) rotate(19deg);
  }
  100% {
    -webkit-transform: translate3d(96vw, 34vh, 37px) rotate(110deg);
    transform: translate3d(9vw, 3vh, 29px) rotate(128deg);
  }
}
@keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(24vw, 54vh, 5px) rotate(76deg);
    transform: translate3d(52vw, 94vh, 378px) rotate(68deg);
  }
  100% {
    -webkit-transform: translate3d(67vw, 29vh, 99px) rotate(42deg);
    transform: translate3d(2vw, 27vh, 296px) rotate(88deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(2) {
  -webkit-animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(238, 238, 238);
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(90vw, 63vh, 32px);
  transform: translate3d(26vw, 74vh, 79px);
}

@-webkit-keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(29vw, 4vh, 62px) rotate(43deg);
    transform: translate3d(37vw, 61vh, 6px) rotate(40deg);
  }
  100% {
    -webkit-transform: translate3d(9vw, 37vh, 176px) rotate(79deg);
    transform: translate3d(18vw, 95vh, 224px) rotate(166deg);
  }
}
@keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(77vw, 59vh, 51px) rotate(8deg);
    transform: translate3d(73vw, 85vh, 74px) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(78vw, 43vh, 65px) rotate(169deg);
    transform: translate3d(18vw, 9vh, 233px) rotate(137deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(3) {
  -webkit-animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(96, 96, 96);
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(38vw, 81vh, 55px);
  transform: translate3d(28vw, 22vh, 37px);
}

@-webkit-keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(12vw, 97vh, 353px) rotate(71deg);
    transform: translate3d(4vw, 4vh, 111px) rotate(36deg);
  }
  100% {
    -webkit-transform: translate3d(87vw, 36vh, 325px) rotate(180deg);
    transform: translate3d(26vw, 49vh, 135px) rotate(170deg);
  }
}
@keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(98vw, 87vh, 34px) rotate(84deg);
    transform: translate3d(76vw, 7vh, 72px) rotate(78deg);
  }
  100% {
    -webkit-transform: translate3d(86vw, 41vh, 251px) rotate(19deg);
    transform: translate3d(73vw, 55vh, 281px) rotate(148deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(4) {
  -webkit-animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(138, 138, 138);
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(20vw, 60vh, 11px);
  transform: translate3d(74vw, 40vh, 75px);
}

@-webkit-keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(10vw, 9vh, 362px) rotate(17deg);
    transform: translate3d(72vw, 56vh, 57px) rotate(8deg);
  }
  100% {
    -webkit-transform: translate3d(33vw, 79vh, 74px) rotate(107deg);
    transform: translate3d(45vw, 31vh, 382px) rotate(47deg);
  }
}
@keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(9vw, 76vh, 52px) rotate(85deg);
    transform: translate3d(14vw, 37vh, 121px) rotate(66deg);
  }
  100% {
    -webkit-transform: translate3d(72vw, 77vh, 99px) rotate(80deg);
    transform: translate3d(72vw, 32vh, 69px) rotate(151deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(5) {
  -webkit-animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(229, 229, 229);
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(33vw, 83vh, 100px);
  transform: translate3d(57vw, 81vh, 18px);
}

@-webkit-keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(86vw, 8vh, 312px) rotate(78deg);
    transform: translate3d(98vw, 99vh, 287px) rotate(36deg);
  }
  100% {
    -webkit-transform: translate3d(60vw, 72vh, 134px) rotate(46deg);
    transform: translate3d(80vw, 25vh, 287px) rotate(141deg);
  }
}
@keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(60vw, 33vh, 61px) rotate(62deg);
    transform: translate3d(8vw, 75vh, 271px) rotate(13deg);
  }
  100% {
    -webkit-transform: translate3d(68vw, 97vh, 329px) rotate(41deg);
    transform: translate3d(15vw, 97vh, 272px) rotate(80deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(6) {
  -webkit-animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(30, 30, 30);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-transform: translate3d(63vw, 21vh, 73px);
  transform: translate3d(21vw, 50vh, 55px);
}

@-webkit-keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(54vw, 94vh, 53px) rotate(50deg);
    transform: translate3d(42vw, 55vh, 115px) rotate(21deg);
  }
  100% {
    -webkit-transform: translate3d(64vw, 86vh, 282px) rotate(18deg);
    transform: translate3d(51vw, 63vh, 89px) rotate(44deg);
  }
}
@keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(70vw, 62vh, 86px) rotate(10deg);
    transform: translate3d(55vw, 55vh, 8px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate3d(92vw, 25vh, 101px) rotate(72deg);
    transform: translate3d(51vw, 16vh, 354px) rotate(130deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(7) {
  -webkit-animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(28, 28, 28);
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform: translate3d(47vw, 3vh, 38px);
  transform: translate3d(33vw, 87vh, 64px);
}

@-webkit-keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(20vw, 30vh, 384px) rotate(51deg);
    transform: translate3d(56vw, 22vh, 137px) rotate(87deg);
  }
  100% {
    -webkit-transform: translate3d(48vw, 88vh, 204px) rotate(113deg);
    transform: translate3d(40vw, 11vh, 124px) rotate(141deg);
  }
}
@keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(72vw, 64vh, 7px) rotate(15deg);
    transform: translate3d(61vw, 100vh, 216px) rotate(62deg);
  }
  100% {
    -webkit-transform: translate3d(84vw, 19vh, 158px) rotate(171deg);
    transform: translate3d(72vw, 2vh, 236px) rotate(7deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(8) {
  -webkit-animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(118, 118, 118);
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(1vw, 80vh, 97px);
  transform: translate3d(3vw, 82vh, 88px);
}

@-webkit-keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(63vw, 31vh, 111px) rotate(83deg);
    transform: translate3d(81vw, 59vh, 274px) rotate(77deg);
  }
  100% {
    -webkit-transform: translate3d(76vw, 62vh, 16px) rotate(129deg);
    transform: translate3d(49vw, 57vh, 370px) rotate(63deg);
  }
}
@keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(37vw, 80vh, 45px) rotate(77deg);
    transform: translate3d(32vw, 38vh, 43px) rotate(41deg);
  }
  100% {
    -webkit-transform: translate3d(13vw, 16vh, 389px) rotate(147deg);
    transform: translate3d(59vw, 72vh, 159px) rotate(40deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(9) {
  -webkit-animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(102, 102, 102);
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  -webkit-transform: translate3d(86vw, 58vh, 74px);
  transform: translate3d(42vw, 10vh, 35px);
}

@-webkit-keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(41vw, 97vh, 355px) rotate(60deg);
    transform: translate3d(90vw, 7vh, 13px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(64vw, 100vh, 138px) rotate(71deg);
    transform: translate3d(7vw, 75vh, 240px) rotate(167deg);
  }
}
@keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(48vw, 64vh, 4px) rotate(54deg);
    transform: translate3d(67vw, 70vh, 169px) rotate(66deg);
  }
  100% {
    -webkit-transform: translate3d(56vw, 16vh, 224px) rotate(107deg);
    transform: translate3d(5vw, 58vh, 297px) rotate(109deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(10) {
  -webkit-animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(22, 22, 22);
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
  -webkit-transform: translate3d(57vw, 41vh, 83px);
  transform: translate3d(80vw, 11vh, 48px);
}

@-webkit-keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(8vw, 14vh, 188px) rotate(77deg);
    transform: translate3d(10vw, 23vh, 88px) rotate(11deg);
  }
  100% {
    -webkit-transform: translate3d(48vw, 80vh, 316px) rotate(81deg);
    transform: translate3d(22vw, 32vh, 216px) rotate(171deg);
  }
}
@keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(34vw, 44vh, 49px) rotate(47deg);
    transform: translate3d(81vw, 33vh, 194px) rotate(12deg);
  }
  100% {
    -webkit-transform: translate3d(67vw, 3vh, 39px) rotate(71deg);
    transform: translate3d(12vw, 53vh, 233px) rotate(62deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(11) {
  -webkit-animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(125, 125, 125);
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  -webkit-transform: translate3d(36vw, 74vh, 94px);
  transform: translate3d(5vw, 70vh, 49px);
}

@-webkit-keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(42vw, 99vh, 284px) rotate(32deg);
    transform: translate3d(29vw, 99vh, 226px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate3d(43vw, 15vh, 128px) rotate(93deg);
    transform: translate3d(49vw, 75vh, 41px) rotate(159deg);
  }
}
@keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(27vw, 88vh, 22px) rotate(90deg);
    transform: translate3d(58vw, 59vh, 383px) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(56vw, 47vh, 337px) rotate(64deg);
    transform: translate3d(46vw, 12vh, 383px) rotate(45deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(12) {
  -webkit-animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(55, 55, 55);
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  -webkit-transform: translate3d(85vw, 14vh, 95px);
  transform: translate3d(86vw, 70vh, 88px);
}

@-webkit-keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(91vw, 12vh, 55px) rotate(71deg);
    transform: translate3d(85vw, 50vh, 55px) rotate(41deg);
  }
  100% {
    -webkit-transform: translate3d(22vw, 100vh, 264px) rotate(112deg);
    transform: translate3d(27vw, 19vh, 19px) rotate(177deg);
  }
}
@keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(32vw, 72vh, 35px) rotate(12deg);
    transform: translate3d(46vw, 73vh, 175px) rotate(58deg);
  }
  100% {
    -webkit-transform: translate3d(72vw, 88vh, 75px) rotate(55deg);
    transform: translate3d(95vw, 14vh, 82px) rotate(67deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(13) {
  -webkit-animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(138, 138, 138);
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  -webkit-transform: translate3d(70vw, 65vh, 80px);
  transform: translate3d(42vw, 27vh, 35px);
}

@-webkit-keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(38vw, 81vh, 106px) rotate(10deg);
    transform: translate3d(22vw, 63vh, 339px) rotate(57deg);
  }
  100% {
    -webkit-transform: translate3d(10vw, 40vh, 365px) rotate(100deg);
    transform: translate3d(30vw, 35vh, 93px) rotate(48deg);
  }
}
@keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(23vw, 59vh, 91px) rotate(73deg);
    transform: translate3d(73vw, 46vh, 396px) rotate(11deg);
  }
  100% {
    -webkit-transform: translate3d(37vw, 24vh, 272px) rotate(75deg);
    transform: translate3d(65vw, 31vh, 162px) rotate(116deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(14) {
  -webkit-animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(243, 243, 243);
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  -webkit-transform: translate3d(58vw, 36vh, 75px);
  transform: translate3d(39vw, 76vh, 40px);
}

@-webkit-keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(7vw, 60vh, 87px) rotate(52deg);
    transform: translate3d(38vw, 84vh, 98px) rotate(69deg);
  }
  100% {
    -webkit-transform: translate3d(53vw, 7vh, 277px) rotate(128deg);
    transform: translate3d(4vw, 78vh, 366px) rotate(22deg);
  }
}
@keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(27vw, 94vh, 14px) rotate(14deg);
    transform: translate3d(53vw, 82vh, 209px) rotate(23deg);
  }
  100% {
    -webkit-transform: translate3d(41vw, 71vh, 53px) rotate(174deg);
    transform: translate3d(54vw, 47vh, 45px) rotate(39deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(15) {
  -webkit-animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(117, 117, 117);
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  -webkit-transform: translate3d(81vw, 79vh, 89px);
  transform: translate3d(59vw, 47vh, 63px);
}

@-webkit-keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(28vw, 31vh, 126px) rotate(78deg);
    transform: translate3d(15vw, 81vh, 211px) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(4vw, 12vh, 286px) rotate(62deg);
    transform: translate3d(18vw, 83vh, 151px) rotate(17deg);
  }
}
@keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(99vw, 91vh, 97px) rotate(73deg);
    transform: translate3d(1vw, 8vh, 307px) rotate(35deg);
  }
  100% {
    -webkit-transform: translate3d(21vw, 94vh, 48px) rotate(154deg);
    transform: translate3d(34vw, 86vh, 147px) rotate(159deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(16) {
  -webkit-animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(38, 38, 38);
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  -webkit-transform: translate3d(67vw, 9vh, 71px);
  transform: translate3d(75vw, 75vh, 82px);
}

@-webkit-keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(82vw, 75vh, 272px) rotate(22deg);
    transform: translate3d(28vw, 75vh, 392px) rotate(68deg);
  }
  100% {
    -webkit-transform: translate3d(73vw, 79vh, 398px) rotate(129deg);
    transform: translate3d(84vw, 19vh, 27px) rotate(134deg);
  }
}
@keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(76vw, 71vh, 71px) rotate(60deg);
    transform: translate3d(99vw, 100vh, 148px) rotate(58deg);
  }
  100% {
    -webkit-transform: translate3d(59vw, 96vh, 133px) rotate(28deg);
    transform: translate3d(62vw, 59vh, 207px) rotate(98deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(17) {
  -webkit-animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(229, 229, 229);
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  -webkit-transform: translate3d(42vw, 66vh, 86px);
  transform: translate3d(53vw, 39vh, 13px);
}

@-webkit-keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(31vw, 71vh, 344px) rotate(75deg);
    transform: translate3d(65vw, 59vh, 200px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(8vw, 17vh, 380px) rotate(61deg);
    transform: translate3d(64vw, 44vh, 343px) rotate(137deg);
  }
}
@keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(44vw, 78vh, 72px) rotate(60deg);
    transform: translate3d(64vw, 90vh, 238px) rotate(10deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 79vh, 68px) rotate(82deg);
    transform: translate3d(76vw, 8vh, 384px) rotate(40deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(18) {
  -webkit-animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(55, 55, 55);
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  -webkit-transform: translate3d(65vw, 85vh, 1px);
  transform: translate3d(42vw, 32vh, 45px);
}

@-webkit-keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(98vw, 78vh, 112px) rotate(70deg);
    transform: translate3d(80vw, 70vh, 128px) rotate(41deg);
  }
  100% {
    -webkit-transform: translate3d(3vw, 84vh, 353px) rotate(163deg);
    transform: translate3d(38vw, 2vh, 111px) rotate(175deg);
  }
}
@keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(30vw, 26vh, 92px) rotate(55deg);
    transform: translate3d(42vw, 84vh, 364px) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(62vw, 38vh, 81px) rotate(26deg);
    transform: translate3d(23vw, 25vh, 28px) rotate(151deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(19) {
  -webkit-animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(210, 210, 210);
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  -webkit-transform: translate3d(22vw, 31vh, 72px);
  transform: translate3d(39vw, 12vh, 49px);
}

@-webkit-keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(39vw, 83vh, 121px) rotate(42deg);
    transform: translate3d(98vw, 67vh, 359px) rotate(15deg);
  }
  100% {
    -webkit-transform: translate3d(12vw, 3vh, 184px) rotate(47deg);
    transform: translate3d(56vw, 31vh, 25px) rotate(148deg);
  }
}
@keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(81vw, 14vh, 30px) rotate(45deg);
    transform: translate3d(26vw, 94vh, 81px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 19vh, 23px) rotate(83deg);
    transform: translate3d(26vw, 66vh, 248px) rotate(35deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(20) {
  -webkit-animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(91, 91, 91);
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
  -webkit-transform: translate3d(49vw, 77vh, 22px);
  transform: translate3d(87vw, 61vh, 39px);
}

@-webkit-keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(28vw, 75vh, 190px) rotate(4deg);
    transform: translate3d(62vw, 38vh, 221px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(72vw, 93vh, 58px) rotate(60deg);
    transform: translate3d(76vw, 44vh, 119px) rotate(24deg);
  }
}
@keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(42vw, 38vh, 40px) rotate(83deg);
    transform: translate3d(8vw, 37vh, 233px) rotate(54deg);
  }
  100% {
    -webkit-transform: translate3d(32vw, 24vh, 48px) rotate(19deg);
    transform: translate3d(87vw, 58vh, 188px) rotate(26deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(21) {
  -webkit-animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(94, 94, 94);
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
  -webkit-transform: translate3d(75vw, 44vh, 22px);
  transform: translate3d(19vw, 61vh, 44px);
}

@-webkit-keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(53vw, 52vh, 269px) rotate(30deg);
    transform: translate3d(58vw, 21vh, 330px) rotate(52deg);
  }
  100% {
    -webkit-transform: translate3d(75vw, 80vh, 365px) rotate(79deg);
    transform: translate3d(94vw, 99vh, 199px) rotate(51deg);
  }
}
@keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(60vw, 22vh, 29px) rotate(87deg);
    transform: translate3d(100vw, 84vh, 367px) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(10vw, 83vh, 144px) rotate(59deg);
    transform: translate3d(83vw, 60vh, 300px) rotate(43deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(22) {
  -webkit-animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(176, 176, 176);
  -webkit-animation-delay: -22s;
  animation-delay: -22s;
  -webkit-transform: translate3d(52vw, 51vh, 94px);
  transform: translate3d(46vw, 15vh, 2px);
}

@-webkit-keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(78vw, 86vh, 390px) rotate(21deg);
    transform: translate3d(24vw, 3vh, 151px) rotate(66deg);
  }
  100% {
    -webkit-transform: translate3d(77vw, 3vh, 80px) rotate(52deg);
    transform: translate3d(76vw, 8vh, 2px) rotate(100deg);
  }
}
@keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(76vw, 41vh, 21px) rotate(9deg);
    transform: translate3d(72vw, 100vh, 250px) rotate(57deg);
  }
  100% {
    -webkit-transform: translate3d(15vw, 14vh, 231px) rotate(116deg);
    transform: translate3d(6vw, 34vh, 167px) rotate(131deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(23) {
  -webkit-animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(177, 177, 177);
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  -webkit-transform: translate3d(68vw, 69vh, 18px);
  transform: translate3d(71vw, 40vh, 95px);
}

@-webkit-keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(49vw, 71vh, 133px) rotate(90deg);
    transform: translate3d(70vw, 97vh, 338px) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(90vw, 52vh, 372px) rotate(140deg);
    transform: translate3d(47vw, 89vh, 342px) rotate(51deg);
  }
}
@keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(69vw, 31vh, 41px) rotate(50deg);
    transform: translate3d(39vw, 7vh, 273px) rotate(11deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 33vh, 287px) rotate(39deg);
    transform: translate3d(94vw, 73vh, 167px) rotate(76deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(24) {
  -webkit-animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(196, 196, 196);
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  -webkit-transform: translate3d(39vw, 46vh, 6px);
  transform: translate3d(52vw, 26vh, 36px);
}

@-webkit-keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(45vw, 79vh, 58px) rotate(78deg);
    transform: translate3d(96vw, 21vh, 143px) rotate(74deg);
  }
  100% {
    -webkit-transform: translate3d(46vw, 52vh, 106px) rotate(171deg);
    transform: translate3d(40vw, 87vh, 189px) rotate(176deg);
  }
}
@keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(54vw, 75vh, 3px) rotate(52deg);
    transform: translate3d(56vw, 71vh, 331px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(24vw, 94vh, 374px) rotate(171deg);
    transform: translate3d(78vw, 35vh, 115px) rotate(67deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(25) {
  -webkit-animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(113, 113, 113);
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  -webkit-transform: translate3d(13vw, 60vh, 48px);
  transform: translate3d(54vw, 4vh, 26px);
}

@-webkit-keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(35vw, 64vh, 368px) rotate(73deg);
    transform: translate3d(87vw, 81vh, 109px) rotate(59deg);
  }
  100% {
    -webkit-transform: translate3d(21vw, 98vh, 153px) rotate(88deg);
    transform: translate3d(31vw, 29vh, 295px) rotate(102deg);
  }
}
@keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(76vw, 33vh, 11px) rotate(53deg);
    transform: translate3d(28vw, 90vh, 174px) rotate(85deg);
  }
  100% {
    -webkit-transform: translate3d(36vw, 72vh, 178px) rotate(166deg);
    transform: translate3d(92vw, 16vh, 191px) rotate(65deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(26) {
  -webkit-animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(77, 77, 77);
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  -webkit-transform: translate3d(9vw, 82vh, 64px);
  transform: translate3d(73vw, 76vh, 50px);
}

@-webkit-keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(26vw, 15vh, 60px) rotate(29deg);
    transform: translate3d(76vw, 90vh, 385px) rotate(71deg);
  }
  100% {
    -webkit-transform: translate3d(63vw, 43vh, 331px) rotate(3deg);
    transform: translate3d(27vw, 86vh, 198px) rotate(49deg);
  }
}
@keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(66vw, 59vh, 94px) rotate(39deg);
    transform: translate3d(74vw, 24vh, 392px) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(100vw, 14vh, 268px) rotate(114deg);
    transform: translate3d(43vw, 74vh, 124px) rotate(132deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(27) {
  -webkit-animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(50, 50, 50);
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
  -webkit-transform: translate3d(23vw, 60vh, 61px);
  transform: translate3d(75vw, 89vh, 77px);
}

@-webkit-keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(42vw, 95vh, 357px) rotate(66deg);
    transform: translate3d(30vw, 26vh, 76px) rotate(62deg);
  }
  100% {
    -webkit-transform: translate3d(70vw, 52vh, 235px) rotate(180deg);
    transform: translate3d(6vw, 63vh, 268px) rotate(45deg);
  }
}
@keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(48vw, 2vh, 98px) rotate(45deg);
    transform: translate3d(44vw, 72vh, 37px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(30vw, 21vh, 103px) rotate(148deg);
    transform: translate3d(35vw, 1vh, 104px) rotate(100deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(28) {
  -webkit-animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(87, 87, 87);
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  -webkit-transform: translate3d(87vw, 17vh, 32px);
  transform: translate3d(37vw, 47vh, 71px);
}

@-webkit-keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(83vw, 55vh, 156px) rotate(76deg);
    transform: translate3d(56vw, 64vh, 334px) rotate(3deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 73vh, 174px) rotate(154deg);
    transform: translate3d(42vw, 16vh, 29px) rotate(13deg);
  }
}
@keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(25vw, 65vh, 31px) rotate(42deg);
    transform: translate3d(23vw, 12vh, 52px) rotate(18deg);
  }
  100% {
    -webkit-transform: translate3d(21vw, 73vh, 357px) rotate(54deg);
    transform: translate3d(31vw, 27vh, 99px) rotate(155deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(29) {
  -webkit-animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(33, 33, 33);
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  -webkit-transform: translate3d(70vw, 68vh, 94px);
  transform: translate3d(46vw, 42vh, 50px);
}

@-webkit-keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(91vw, 32vh, 225px) rotate(23deg);
    transform: translate3d(52vw, 89vh, 4px) rotate(63deg);
  }
  100% {
    -webkit-transform: translate3d(96vw, 48vh, 206px) rotate(140deg);
    transform: translate3d(46vw, 31vh, 35px) rotate(22deg);
  }
}
@keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(47vw, 13vh, 95px) rotate(48deg);
    transform: translate3d(24vw, 94vh, 283px) rotate(30deg);
  }
  100% {
    -webkit-transform: translate3d(59vw, 34vh, 176px) rotate(98deg);
    transform: translate3d(19vw, 24vh, 327px) rotate(161deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(30) {
  -webkit-animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(221, 221, 221);
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  -webkit-transform: translate3d(72vw, 20vh, 51px);
  transform: translate3d(56vw, 53vh, 63px);
}

@-webkit-keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(56vw, 82vh, 13px) rotate(52deg);
    transform: translate3d(15vw, 8vh, 271px) rotate(85deg);
  }
  100% {
    -webkit-transform: translate3d(13vw, 6vh, 393px) rotate(73deg);
    transform: translate3d(65vw, 87vh, 364px) rotate(129deg);
  }
}
@keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(35vw, 11vh, 98px) rotate(2deg);
    transform: translate3d(65vw, 17vh, 340px) rotate(65deg);
  }
  100% {
    -webkit-transform: translate3d(78vw, 28vh, 254px) rotate(176deg);
    transform: translate3d(32vw, 50vh, 241px) rotate(103deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(31) {
  -webkit-animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(105, 105, 105);
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  -webkit-transform: translate3d(84vw, 54vh, 84px);
  transform: translate3d(17vw, 75vh, 95px);
}

/********* End particle Animation Styles ***********/
.greeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.quest-container {
  padding: 1rem;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.character-container {
  background: rgba(1, 15, 61, 0.2);
  border: 2px solid #00add4;
  border-radius: 10px;
  flex-grow: 1;
}

.note-container {
  position: relative;
  background: rgba(1, 15, 61, 0.2);
  border: 2px solid #00add4;
  overflow: hidden;
  border-radius: 10px;
  flex-grow: 1.5;
}

.nav-button {
  font-family: "Anime Ace v3";
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background: none;
  border: 2px solid #30b0cd;
  border-radius: 5px;
}
.nav-button:hover {
  background-color: #30b0cd;
}

.deutch-font {
  font-family: "GermaniaOne-regular";
}

@font-face {
  font-family: "Anime Ace v3";
  src: url("../fonts/anime_ace_v3.ttf") format("truetype");
}
@font-face {
  font-family: "GermaniaOne-regular";
  src: url("../fonts/GermaniaOne-Regular.ttf") format("truetype");
}
