html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

main {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Anime Ace v3";
  font-weight: 500;
  font-size: 24px;
  background: linear-gradient(#1d709c, #000b39);
}

a {
  width: 12rem;
  height: 3rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: #00add4;
  border: 2px solid #00add4;
  border-radius: 5px;
  position: relative;
  transition: all 0.35s;
}
a span {
  position: relative;
  z-index: 2;
}
a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00add4;
  transition: all 0.35s;
}
a:hover {
  color: white;
  cursor: pointer;
}
a:hover:after {
  width: 100%;
}
@media (max-width: 767px) {
  a {
    font-size: 28px;
    height: 4rem;
  }
}

.transparent {
  opacity: 0;
}

.fade-in {
  animation: fade-in 2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #00add4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00add4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0096B8;
}

.particle-container {
  background-color: #f9ecd0;
  position: relative;
  height: 100vh;
}

.circle {
  border-radius: 50%;
  position: absolute;
  z-index: 64;
}

@-webkit-keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(68vw, 91vh, 330px) rotate(21deg);
    transform: translate3d(5vw, 28vh, 193px) rotate(63deg);
  }
  100% {
    -webkit-transform: translate3d(81vw, 54vh, 72px) rotate(34deg);
    transform: translate3d(15vw, 81vh, 64px) rotate(178deg);
  }
}
@keyframes particle-animation-1 {
  0% {
    -webkit-transform: translate3d(27vw, 98vh, 90px) rotate(67deg);
    transform: translate3d(23vw, 81vh, 338px) rotate(73deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 89vh, 329px) rotate(67deg);
    transform: translate3d(41vw, 63vh, 41px) rotate(16deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(1) {
  -webkit-animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-1 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(213, 213, 213);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(4vw, 4vh, 48px);
  transform: translate3d(43vw, 17vh, 59px);
}

@-webkit-keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(56vw, 43vh, 310px) rotate(25deg);
    transform: translate3d(21vw, 34vh, 281px) rotate(15deg);
  }
  100% {
    -webkit-transform: translate3d(99vw, 41vh, 135px) rotate(175deg);
    transform: translate3d(60vw, 6vh, 160px) rotate(89deg);
  }
}
@keyframes particle-animation-2 {
  0% {
    -webkit-transform: translate3d(50vw, 61vh, 71px) rotate(52deg);
    transform: translate3d(29vw, 84vh, 81px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, 77vh, 328px) rotate(62deg);
    transform: translate3d(17vw, 75vh, 116px) rotate(3deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(2) {
  -webkit-animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-2 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(250, 250, 250);
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(27vw, 10vh, 14px);
  transform: translate3d(11vw, 18vh, 87px);
}

@-webkit-keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(96vw, 69vh, 289px) rotate(87deg);
    transform: translate3d(61vw, 37vh, 154px) rotate(86deg);
  }
  100% {
    -webkit-transform: translate3d(93vw, 40vh, 123px) rotate(131deg);
    transform: translate3d(85vw, 23vh, 329px) rotate(80deg);
  }
}
@keyframes particle-animation-3 {
  0% {
    -webkit-transform: translate3d(64vw, 100vh, 65px) rotate(4deg);
    transform: translate3d(40vw, 87vh, 284px) rotate(16deg);
  }
  100% {
    -webkit-transform: translate3d(38vw, 92vh, 89px) rotate(73deg);
    transform: translate3d(88vw, 97vh, 289px) rotate(105deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(3) {
  -webkit-animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-3 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(162, 162, 162);
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(86vw, 81vh, 95px);
  transform: translate3d(40vw, 77vh, 35px);
}

@-webkit-keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(40vw, 55vh, 391px) rotate(86deg);
    transform: translate3d(37vw, 55vh, 253px) rotate(79deg);
  }
  100% {
    -webkit-transform: translate3d(32vw, 89vh, 306px) rotate(113deg);
    transform: translate3d(89vw, 6vh, 224px) rotate(103deg);
  }
}
@keyframes particle-animation-4 {
  0% {
    -webkit-transform: translate3d(44vw, 8vh, 4px) rotate(23deg);
    transform: translate3d(35vw, 70vh, 186px) rotate(24deg);
  }
  100% {
    -webkit-transform: translate3d(53vw, 11vh, 20px) rotate(62deg);
    transform: translate3d(67vw, 40vh, 155px) rotate(130deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(4) {
  -webkit-animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-4 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(97, 97, 97);
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(85vw, 22vh, 96px);
  transform: translate3d(1vw, 16vh, 61px);
}

@-webkit-keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(86vw, 80vh, 138px) rotate(22deg);
    transform: translate3d(62vw, 25vh, 300px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(23vw, 14vh, 202px) rotate(66deg);
    transform: translate3d(75vw, 76vh, 32px) rotate(125deg);
  }
}
@keyframes particle-animation-5 {
  0% {
    -webkit-transform: translate3d(70vw, 71vh, 77px) rotate(27deg);
    transform: translate3d(83vw, 18vh, 77px) rotate(26deg);
  }
  100% {
    -webkit-transform: translate3d(32vw, 9vh, 105px) rotate(149deg);
    transform: translate3d(31vw, 31vh, 380px) rotate(118deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(5) {
  -webkit-animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-5 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(150, 150, 150);
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(3vw, 37vh, 13px);
  transform: translate3d(5vw, 35vh, 7px);
}

@-webkit-keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(65vw, 34vh, 192px) rotate(63deg);
    transform: translate3d(70vw, 9vh, 258px) rotate(72deg);
  }
  100% {
    -webkit-transform: translate3d(68vw, 78vh, 58px) rotate(11deg);
    transform: translate3d(89vw, 49vh, 146px) rotate(1deg);
  }
}
@keyframes particle-animation-6 {
  0% {
    -webkit-transform: translate3d(80vw, 16vh, 90px) rotate(53deg);
    transform: translate3d(84vw, 91vh, 333px) rotate(84deg);
  }
  100% {
    -webkit-transform: translate3d(3vw, 21vh, 237px) rotate(55deg);
    transform: translate3d(8vw, 62vh, 308px) rotate(2deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(6) {
  -webkit-animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-6 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(241, 241, 241);
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-transform: translate3d(54vw, 85vh, 17px);
  transform: translate3d(8vw, 45vh, 44px);
}

@-webkit-keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(19vw, 80vh, 377px) rotate(56deg);
    transform: translate3d(78vw, 37vh, 46px) rotate(72deg);
  }
  100% {
    -webkit-transform: translate3d(2vw, 68vh, 170px) rotate(98deg);
    transform: translate3d(16vw, 73vh, 324px) rotate(132deg);
  }
}
@keyframes particle-animation-7 {
  0% {
    -webkit-transform: translate3d(29vw, 85vh, 5px) rotate(49deg);
    transform: translate3d(56vw, 48vh, 320px) rotate(87deg);
  }
  100% {
    -webkit-transform: translate3d(32vw, 59vh, 125px) rotate(44deg);
    transform: translate3d(54vw, 13vh, 205px) rotate(143deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(7) {
  -webkit-animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-7 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(111, 111, 111);
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform: translate3d(51vw, 50vh, 32px);
  transform: translate3d(61vw, 13vh, 53px);
}

@-webkit-keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(19vw, 95vh, 94px) rotate(23deg);
    transform: translate3d(45vw, 58vh, 234px) rotate(48deg);
  }
  100% {
    -webkit-transform: translate3d(58vw, 58vh, 44px) rotate(128deg);
    transform: translate3d(68vw, 68vh, 96px) rotate(136deg);
  }
}
@keyframes particle-animation-8 {
  0% {
    -webkit-transform: translate3d(17vw, 24vh, 100px) rotate(32deg);
    transform: translate3d(42vw, 84vh, 232px) rotate(34deg);
  }
  100% {
    -webkit-transform: translate3d(99vw, 5vh, 321px) rotate(54deg);
    transform: translate3d(15vw, 41vh, 164px) rotate(92deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(8) {
  -webkit-animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-8 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(137, 137, 137);
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(37vw, 55vh, 7px);
  transform: translate3d(82vw, 29vh, 42px);
}

@-webkit-keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(98vw, 7vh, 47px) rotate(41deg);
    transform: translate3d(67vw, 65vh, 141px) rotate(60deg);
  }
  100% {
    -webkit-transform: translate3d(97vw, 34vh, 133px) rotate(176deg);
    transform: translate3d(20vw, 53vh, 4px) rotate(155deg);
  }
}
@keyframes particle-animation-9 {
  0% {
    -webkit-transform: translate3d(69vw, 9vh, 32px) rotate(4deg);
    transform: translate3d(59vw, 86vh, 290px) rotate(28deg);
  }
  100% {
    -webkit-transform: translate3d(76vw, 54vh, 197px) rotate(106deg);
    transform: translate3d(66vw, 75vh, 156px) rotate(130deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(9) {
  -webkit-animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-9 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(117, 117, 117);
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  -webkit-transform: translate3d(34vw, 28vh, 3px);
  transform: translate3d(32vw, 87vh, 96px);
}

@-webkit-keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(8vw, 31vh, 44px) rotate(19deg);
    transform: translate3d(22vw, 94vh, 104px) rotate(70deg);
  }
  100% {
    -webkit-transform: translate3d(87vw, 23vh, 214px) rotate(53deg);
    transform: translate3d(55vw, 67vh, 370px) rotate(166deg);
  }
}
@keyframes particle-animation-10 {
  0% {
    -webkit-transform: translate3d(36vw, 33vh, 30px) rotate(66deg);
    transform: translate3d(21vw, 61vh, 160px) rotate(56deg);
  }
  100% {
    -webkit-transform: translate3d(100vw, 21vh, 134px) rotate(117deg);
    transform: translate3d(18vw, 9vh, 185px) rotate(82deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(10) {
  -webkit-animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-10 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(45, 45, 45);
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
  -webkit-transform: translate3d(90vw, 74vh, 2px);
  transform: translate3d(45vw, 1vh, 77px);
}

@-webkit-keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(4vw, 74vh, 184px) rotate(12deg);
    transform: translate3d(84vw, 21vh, 290px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(58vw, 55vh, 51px) rotate(165deg);
    transform: translate3d(72vw, 99vh, 133px) rotate(142deg);
  }
}
@keyframes particle-animation-11 {
  0% {
    -webkit-transform: translate3d(68vw, 73vh, 94px) rotate(67deg);
    transform: translate3d(57vw, 73vh, 358px) rotate(82deg);
  }
  100% {
    -webkit-transform: translate3d(93vw, 15vh, 324px) rotate(145deg);
    transform: translate3d(71vw, 20vh, 122px) rotate(150deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(11) {
  -webkit-animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-11 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(133, 133, 133);
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  -webkit-transform: translate3d(49vw, 74vh, 7px);
  transform: translate3d(11vw, 11vh, 19px);
}

@-webkit-keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(49vw, 77vh, 235px) rotate(13deg);
    transform: translate3d(49vw, 99vh, 153px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate3d(50vw, 30vh, 289px) rotate(178deg);
    transform: translate3d(95vw, 37vh, 144px) rotate(48deg);
  }
}
@keyframes particle-animation-12 {
  0% {
    -webkit-transform: translate3d(54vw, 84vh, 35px) rotate(48deg);
    transform: translate3d(6vw, 86vh, 290px) rotate(40deg);
  }
  100% {
    -webkit-transform: translate3d(26vw, 97vh, 23px) rotate(104deg);
    transform: translate3d(39vw, 70vh, 379px) rotate(40deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(12) {
  -webkit-animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-12 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(171, 171, 171);
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  -webkit-transform: translate3d(46vw, 84vh, 92px);
  transform: translate3d(6vw, 66vh, 62px);
}

@-webkit-keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(45vw, 20vh, 17px) rotate(48deg);
    transform: translate3d(86vw, 97vh, 303px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(14vw, 86vh, 33px) rotate(66deg);
    transform: translate3d(67vw, 3vh, 209px) rotate(63deg);
  }
}
@keyframes particle-animation-13 {
  0% {
    -webkit-transform: translate3d(69vw, 60vh, 90px) rotate(11deg);
    transform: translate3d(65vw, 28vh, 43px) rotate(42deg);
  }
  100% {
    -webkit-transform: translate3d(51vw, 23vh, 157px) rotate(31deg);
    transform: translate3d(48vw, 85vh, 170px) rotate(18deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(13) {
  -webkit-animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-13 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(158, 158, 158);
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  -webkit-transform: translate3d(25vw, 27vh, 85px);
  transform: translate3d(86vw, 69vh, 18px);
}

@-webkit-keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(10vw, 57vh, 394px) rotate(72deg);
    transform: translate3d(64vw, 88vh, 205px) rotate(64deg);
  }
  100% {
    -webkit-transform: translate3d(86vw, 13vh, 369px) rotate(14deg);
    transform: translate3d(27vw, 26vh, 274px) rotate(131deg);
  }
}
@keyframes particle-animation-14 {
  0% {
    -webkit-transform: translate3d(77vw, 27vh, 72px) rotate(87deg);
    transform: translate3d(36vw, 47vh, 375px) rotate(41deg);
  }
  100% {
    -webkit-transform: translate3d(31vw, 29vh, 270px) rotate(67deg);
    transform: translate3d(23vw, 1vh, 76px) rotate(155deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(14) {
  -webkit-animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-14 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 15px;
  width: 15px;
  background-color: rgb(82, 82, 82);
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  -webkit-transform: translate3d(8vw, 3vh, 74px);
  transform: translate3d(82vw, 64vh, 4px);
}

@-webkit-keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(80vw, 47vh, 257px) rotate(45deg);
    transform: translate3d(81vw, 87vh, 69px) rotate(76deg);
  }
  100% {
    -webkit-transform: translate3d(79vw, 42vh, 112px) rotate(16deg);
    transform: translate3d(25vw, 70vh, 67px) rotate(130deg);
  }
}
@keyframes particle-animation-15 {
  0% {
    -webkit-transform: translate3d(19vw, 91vh, 79px) rotate(47deg);
    transform: translate3d(42vw, 10vh, 315px) rotate(71deg);
  }
  100% {
    -webkit-transform: translate3d(43vw, 6vh, 205px) rotate(163deg);
    transform: translate3d(5vw, 9vh, 48px) rotate(60deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(15) {
  -webkit-animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-15 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(6, 6, 6);
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  -webkit-transform: translate3d(20vw, 27vh, 76px);
  transform: translate3d(56vw, 17vh, 68px);
}

@-webkit-keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(26vw, 38vh, 318px) rotate(18deg);
    transform: translate3d(7vw, 88vh, 290px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(17vw, 64vh, 264px) rotate(98deg);
    transform: translate3d(80vw, 2vh, 311px) rotate(78deg);
  }
}
@keyframes particle-animation-16 {
  0% {
    -webkit-transform: translate3d(78vw, 35vh, 58px) rotate(19deg);
    transform: translate3d(5vw, 45vh, 47px) rotate(32deg);
  }
  100% {
    -webkit-transform: translate3d(85vw, 36vh, 47px) rotate(131deg);
    transform: translate3d(70vw, 81vh, 277px) rotate(166deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(16) {
  -webkit-animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-16 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(75, 75, 75);
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  -webkit-transform: translate3d(14vw, 25vh, 12px);
  transform: translate3d(76vw, 64vh, 64px);
}

@-webkit-keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(93vw, 13vh, 103px) rotate(2deg);
    transform: translate3d(10vw, 36vh, 8px) rotate(50deg);
  }
  100% {
    -webkit-transform: translate3d(39vw, 88vh, 217px) rotate(180deg);
    transform: translate3d(54vw, 45vh, 298px) rotate(41deg);
  }
}
@keyframes particle-animation-17 {
  0% {
    -webkit-transform: translate3d(58vw, 78vh, 88px) rotate(26deg);
    transform: translate3d(29vw, 56vh, 144px) rotate(63deg);
  }
  100% {
    -webkit-transform: translate3d(11vw, 45vh, 273px) rotate(66deg);
    transform: translate3d(98vw, 4vh, 179px) rotate(113deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(17) {
  -webkit-animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-17 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(102, 102, 102);
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  -webkit-transform: translate3d(85vw, 32vh, 41px);
  transform: translate3d(20vw, 15vh, 5px);
}

@-webkit-keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(20vw, 73vh, 154px) rotate(48deg);
    transform: translate3d(42vw, 72vh, 122px) rotate(4deg);
  }
  100% {
    -webkit-transform: translate3d(33vw, 4vh, 161px) rotate(5deg);
    transform: translate3d(31vw, 96vh, 56px) rotate(41deg);
  }
}
@keyframes particle-animation-18 {
  0% {
    -webkit-transform: translate3d(71vw, 68vh, 40px) rotate(1deg);
    transform: translate3d(41vw, 11vh, 40px) rotate(88deg);
  }
  100% {
    -webkit-transform: translate3d(16vw, 59vh, 4px) rotate(41deg);
    transform: translate3d(56vw, 30vh, 298px) rotate(129deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(18) {
  -webkit-animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-18 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 8px;
  width: 8px;
  background-color: rgb(40, 40, 40);
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  -webkit-transform: translate3d(67vw, 56vh, 88px);
  transform: translate3d(23vw, 72vh, 83px);
}

@-webkit-keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(99vw, 51vh, 335px) rotate(82deg);
    transform: translate3d(72vw, 27vh, 288px) rotate(39deg);
  }
  100% {
    -webkit-transform: translate3d(18vw, 43vh, 197px) rotate(46deg);
    transform: translate3d(55vw, 12vh, 334px) rotate(50deg);
  }
}
@keyframes particle-animation-19 {
  0% {
    -webkit-transform: translate3d(68vw, 81vh, 32px) rotate(88deg);
    transform: translate3d(44vw, 58vh, 379px) rotate(50deg);
  }
  100% {
    -webkit-transform: translate3d(9vw, 33vh, 208px) rotate(105deg);
    transform: translate3d(95vw, 60vh, 390px) rotate(128deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(19) {
  -webkit-animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-19 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(170, 170, 170);
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  -webkit-transform: translate3d(75vw, 5vh, 67px);
  transform: translate3d(72vw, 22vh, 72px);
}

@-webkit-keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(20vw, 65vh, 292px) rotate(56deg);
    transform: translate3d(58vw, 16vh, 385px) rotate(47deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, 43vh, 54px) rotate(146deg);
    transform: translate3d(69vw, 70vh, 272px) rotate(155deg);
  }
}
@keyframes particle-animation-20 {
  0% {
    -webkit-transform: translate3d(27vw, 41vh, 57px) rotate(25deg);
    transform: translate3d(44vw, 64vh, 168px) rotate(75deg);
  }
  100% {
    -webkit-transform: translate3d(57vw, 12vh, 151px) rotate(4deg);
    transform: translate3d(92vw, 59vh, 1px) rotate(99deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(20) {
  -webkit-animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-20 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 13px;
  width: 13px;
  background-color: rgb(77, 77, 77);
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
  -webkit-transform: translate3d(56vw, 48vh, 88px);
  transform: translate3d(5vw, 20vh, 4px);
}

@-webkit-keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(5vw, 81vh, 7px) rotate(31deg);
    transform: translate3d(18vw, 75vh, 133px) rotate(60deg);
  }
  100% {
    -webkit-transform: translate3d(73vw, 43vh, 24px) rotate(126deg);
    transform: translate3d(82vw, 9vh, 94px) rotate(108deg);
  }
}
@keyframes particle-animation-21 {
  0% {
    -webkit-transform: translate3d(34vw, 98vh, 31px) rotate(61deg);
    transform: translate3d(11vw, 22vh, 85px) rotate(23deg);
  }
  100% {
    -webkit-transform: translate3d(59vw, 10vh, 144px) rotate(15deg);
    transform: translate3d(83vw, 93vh, 347px) rotate(96deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(21) {
  -webkit-animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-21 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(104, 104, 104);
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
  -webkit-transform: translate3d(7vw, 50vh, 32px);
  transform: translate3d(60vw, 15vh, 98px);
}

@-webkit-keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(12vw, 3vh, 77px) rotate(83deg);
    transform: translate3d(88vw, 76vh, 31px) rotate(57deg);
  }
  100% {
    -webkit-transform: translate3d(50vw, 63vh, 20px) rotate(125deg);
    transform: translate3d(96vw, 8vh, 119px) rotate(107deg);
  }
}
@keyframes particle-animation-22 {
  0% {
    -webkit-transform: translate3d(95vw, 24vh, 51px) rotate(67deg);
    transform: translate3d(40vw, 92vh, 66px) rotate(9deg);
  }
  100% {
    -webkit-transform: translate3d(100vw, 76vh, 242px) rotate(170deg);
    transform: translate3d(43vw, 79vh, 308px) rotate(151deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(22) {
  -webkit-animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-22 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(174, 174, 174);
  -webkit-animation-delay: -22s;
  animation-delay: -22s;
  -webkit-transform: translate3d(24vw, 83vh, 8px);
  transform: translate3d(27vw, 59vh, 58px);
}

@-webkit-keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(11vw, 17vh, 214px) rotate(52deg);
    transform: translate3d(43vw, 63vh, 182px) rotate(55deg);
  }
  100% {
    -webkit-transform: translate3d(9vw, 53vh, 253px) rotate(49deg);
    transform: translate3d(40vw, 53vh, 306px) rotate(73deg);
  }
}
@keyframes particle-animation-23 {
  0% {
    -webkit-transform: translate3d(56vw, 18vh, 99px) rotate(4deg);
    transform: translate3d(10vw, 9vh, 310px) rotate(46deg);
  }
  100% {
    -webkit-transform: translate3d(54vw, 66vh, 341px) rotate(54deg);
    transform: translate3d(75vw, 24vh, 244px) rotate(174deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(23) {
  -webkit-animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-23 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(195, 195, 195);
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  -webkit-transform: translate3d(27vw, 90vh, 52px);
  transform: translate3d(30vw, 87vh, 98px);
}

@-webkit-keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(35vw, 94vh, 211px) rotate(11deg);
    transform: translate3d(57vw, 48vh, 41px) rotate(25deg);
  }
  100% {
    -webkit-transform: translate3d(87vw, 84vh, 261px) rotate(156deg);
    transform: translate3d(96vw, 91vh, 1px) rotate(31deg);
  }
}
@keyframes particle-animation-24 {
  0% {
    -webkit-transform: translate3d(77vw, 35vh, 93px) rotate(64deg);
    transform: translate3d(16vw, 58vh, 333px) rotate(38deg);
  }
  100% {
    -webkit-transform: translate3d(43vw, 90vh, 106px) rotate(111deg);
    transform: translate3d(60vw, 62vh, 234px) rotate(32deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(24) {
  -webkit-animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-24 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 9px;
  width: 9px;
  background-color: rgb(234, 234, 234);
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  -webkit-transform: translate3d(45vw, 44vh, 38px);
  transform: translate3d(58vw, 14vh, 76px);
}

@-webkit-keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(38vw, 31vh, 289px) rotate(50deg);
    transform: translate3d(64vw, 91vh, 392px) rotate(2deg);
  }
  100% {
    -webkit-transform: translate3d(99vw, 18vh, 203px) rotate(9deg);
    transform: translate3d(82vw, 22vh, 219px) rotate(24deg);
  }
}
@keyframes particle-animation-25 {
  0% {
    -webkit-transform: translate3d(82vw, 11vh, 82px) rotate(65deg);
    transform: translate3d(18vw, 100vh, 185px) rotate(43deg);
  }
  100% {
    -webkit-transform: translate3d(5vw, 84vh, 4px) rotate(159deg);
    transform: translate3d(75vw, 30vh, 392px) rotate(41deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(25) {
  -webkit-animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-25 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(68, 68, 68);
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  -webkit-transform: translate3d(25vw, 50vh, 56px);
  transform: translate3d(80vw, 88vh, 34px);
}

@-webkit-keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(44vw, 37vh, 196px) rotate(5deg);
    transform: translate3d(18vw, 11vh, 167px) rotate(41deg);
  }
  100% {
    -webkit-transform: translate3d(4vw, 59vh, 246px) rotate(8deg);
    transform: translate3d(89vw, 41vh, 32px) rotate(71deg);
  }
}
@keyframes particle-animation-26 {
  0% {
    -webkit-transform: translate3d(78vw, 55vh, 32px) rotate(89deg);
    transform: translate3d(75vw, 45vh, 344px) rotate(44deg);
  }
  100% {
    -webkit-transform: translate3d(49vw, 77vh, 50px) rotate(12deg);
    transform: translate3d(68vw, 54vh, 218px) rotate(140deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(26) {
  -webkit-animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-26 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 10px;
  width: 10px;
  background-color: rgb(186, 186, 186);
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  -webkit-transform: translate3d(72vw, 81vh, 66px);
  transform: translate3d(46vw, 28vh, 51px);
}

@-webkit-keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(56vw, 95vh, 6px) rotate(17deg);
    transform: translate3d(44vw, 85vh, 293px) rotate(68deg);
  }
  100% {
    -webkit-transform: translate3d(42vw, 8vh, 235px) rotate(122deg);
    transform: translate3d(51vw, 31vh, 341px) rotate(8deg);
  }
}
@keyframes particle-animation-27 {
  0% {
    -webkit-transform: translate3d(51vw, 88vh, 65px) rotate(39deg);
    transform: translate3d(48vw, 25vh, 175px) rotate(43deg);
  }
  100% {
    -webkit-transform: translate3d(47vw, 47vh, 19px) rotate(75deg);
    transform: translate3d(44vw, 36vh, 261px) rotate(42deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(27) {
  -webkit-animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-27 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 11px;
  width: 11px;
  background-color: rgb(155, 155, 155);
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
  -webkit-transform: translate3d(23vw, 63vh, 89px);
  transform: translate3d(50vw, 12vh, 6px);
}

@-webkit-keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(92vw, 33vh, 128px) rotate(65deg);
    transform: translate3d(100vw, 11vh, 194px) rotate(23deg);
  }
  100% {
    -webkit-transform: translate3d(47vw, 15vh, 171px) rotate(144deg);
    transform: translate3d(49vw, 57vh, 137px) rotate(114deg);
  }
}
@keyframes particle-animation-28 {
  0% {
    -webkit-transform: translate3d(43vw, 84vh, 48px) rotate(50deg);
    transform: translate3d(98vw, 77vh, 281px) rotate(88deg);
  }
  100% {
    -webkit-transform: translate3d(19vw, 11vh, 272px) rotate(116deg);
    transform: translate3d(16vw, 62vh, 133px) rotate(158deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(28) {
  -webkit-animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-28 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 7px;
  width: 7px;
  background-color: rgb(128, 128, 128);
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  -webkit-transform: translate3d(90vw, 65vh, 56px);
  transform: translate3d(39vw, 26vh, 84px);
}

@-webkit-keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(25vw, 3vh, 2px) rotate(5deg);
    transform: translate3d(17vw, 43vh, 149px) rotate(76deg);
  }
  100% {
    -webkit-transform: translate3d(10vw, 3vh, 363px) rotate(74deg);
    transform: translate3d(23vw, 15vh, 387px) rotate(63deg);
  }
}
@keyframes particle-animation-29 {
  0% {
    -webkit-transform: translate3d(37vw, 18vh, 51px) rotate(54deg);
    transform: translate3d(40vw, 61vh, 34px) rotate(71deg);
  }
  100% {
    -webkit-transform: translate3d(61vw, 28vh, 233px) rotate(161deg);
    transform: translate3d(83vw, 59vh, 119px) rotate(100deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(29) {
  -webkit-animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-29 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 14px;
  width: 14px;
  background-color: rgb(221, 221, 221);
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  -webkit-transform: translate3d(9vw, 23vh, 74px);
  transform: translate3d(2vw, 78vh, 17px);
}

@-webkit-keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(96vw, 58vh, 175px) rotate(44deg);
    transform: translate3d(41vw, 7vh, 246px) rotate(64deg);
  }
  100% {
    -webkit-transform: translate3d(75vw, 71vh, 216px) rotate(72deg);
    transform: translate3d(90vw, 21vh, 60px) rotate(28deg);
  }
}
@keyframes particle-animation-30 {
  0% {
    -webkit-transform: translate3d(67vw, 47vh, 60px) rotate(12deg);
    transform: translate3d(65vw, 30vh, 270px) rotate(32deg);
  }
  100% {
    -webkit-transform: translate3d(69vw, 55vh, 273px) rotate(49deg);
    transform: translate3d(58vw, 24vh, 279px) rotate(119deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(30) {
  -webkit-animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-30 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 6px;
  width: 6px;
  background-color: rgb(180, 180, 180);
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  -webkit-transform: translate3d(1vw, 30vh, 84px);
  transform: translate3d(17vw, 46vh, 97px);
}

@-webkit-keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(62vw, 15vh, 390px) rotate(76deg);
    transform: translate3d(27vw, 68vh, 44px) rotate(7deg);
  }
  100% {
    -webkit-transform: translate3d(3vw, 68vh, 352px) rotate(90deg);
    transform: translate3d(40vw, 89vh, 277px) rotate(88deg);
  }
}
@keyframes particle-animation-31 {
  0% {
    -webkit-transform: translate3d(15vw, 78vh, 70px) rotate(21deg);
    transform: translate3d(67vw, 39vh, 139px) rotate(50deg);
  }
  100% {
    -webkit-transform: translate3d(71vw, 9vh, 237px) rotate(106deg);
    transform: translate3d(70vw, 75vh, 341px) rotate(156deg);
  }
}
@-webkit-keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.particles span:nth-child(31) {
  -webkit-animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  animation: particle-animation-31 10s ease-in infinite, fade-frames 10s ease-in-out infinite;
  height: 12px;
  width: 12px;
  background-color: rgb(181, 181, 181);
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  -webkit-transform: translate3d(85vw, 12vh, 41px);
  transform: translate3d(5vw, 82vh, 70px);
}

/********* End particle Animation Styles ***********/
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.greeting-card-container {
  width: 100%;
  height: 100%;
}

.quest-container {
  padding: 1rem;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.nav-button {
  font-family: "Anime Ace v3";
  font-size: 24px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  background: none;
  border: 2px solid #30b0cd;
  border-radius: 5px;
}
.nav-button:hover {
  background-color: #30b0cd;
}

.deutch-font {
  font-family: "GermaniaOne-regular";
}

@font-face {
  font-family: "Anime Ace v3";
  src: url("../fonts/anime_ace_v3.ttf") format("truetype");
}
@font-face {
  font-family: "GermaniaOne-regular";
  src: url("../fonts/GermaniaOne-Regular.ttf") format("truetype");
}
